<section class="unit-detail-wrapper">
    <h3>Unit details</h3>
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Name of Unit *</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.nameOfUnitStatus == 'LOS' || unitDetails.nameOfUnitStatus == 'Mob')" [(ngModel)]="unitDetails.nameOfUnit" maxlength="40">
        </div>
        <div class="input-wrapper" style="position: relative;">
            <label>Activity of Unit *</label>
            <input type="text" [disabled]="!isLoanEditable  || (unitDetails.activityOfUnitStatus == 'LOS' || unitDetails.activityOfUnitStatus == 'Mob')" [(ngModel)]="unitDetails.activityOfUnit" maxlength="40" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Activity')" (blur)="onBlurValidation(unitDetails.activityOfUnit, 'Activity')">
            <span class="validation-msg" *ngIf="activityValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="activityVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Constitution *</label>
            <p-dropdown [options]="constitution" [disabled]="!isLoanEditable  || (unitDetails.constitutionStatus == 'LOS' || unitDetails.constitutionStatus == 'Mob')" name="constitution" [(ngModel)]="unitDetails.constitution" placeholder="Select a Constitution"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>Date of Establishment *</label>
            <p-calendar readonlyInput="true" [style]="{'width':'100%'}" [disabled]="!isLoanEditable  || (unitDetails.dateOfEstablishTSStatus == 'LOS' || unitDetails.dateOfEstablishTSStatus == 'Mob')" [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)] = "establishmentDate"></p-calendar>
        </div>
        <div class="input-wrapper">
            <label>PAN Number *</label>
            <input type="text" [(ngModel)]="unitDetails.panTan" [disabled]="!isLoanEditable  || (unitDetails.panTanStatus == 'LOS' || unitDetails.panTanStatus == 'Mob')" maxlength="10" (keypress)="keypressCheck(utilsService.blockSpecialChar($event), 'PAN')" (blur)="onBlurValidation(unitDetails.panTan, 'PAN')">
            <span class="validation-msg" *ngIf="panValBlur">{{avoidSpecialChar}}</span>
            <span class="validation-msg" *ngIf="panVal">{{utilsService.validString}}</span>
          </div>
    </div>
    <div class="subtitle">
        <h3>Registered Address of Unit</h3>
    </div>
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Plot/Building/Flat No *</label>
            <input type="text" [disabled]="!isLoanEditable  || (unitDetails.plotBuildingFlatNumStatus == 'LOS' || unitDetails.plotBuildingFlatNumStatus == 'Mob')" [(ngModel)]="unitDetails.plotBuildingFlatNum" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>Address Line 1 *</label>
            <input type="text" [disabled]="!isLoanEditable  || (unitDetails.addressLine1Status == 'LOS' || unitDetails.addressLine1Status == 'Mob')" [(ngModel)]="unitDetails.addressLine1" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>Address Line 2 *</label>
            <input type="text" [disabled]="!isLoanEditable  || (unitDetails.addressLine2Status == 'LOS' || unitDetails.addressLine2Status == 'Mob')" [(ngModel)]="unitDetails.addressLine2" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>State *</label>
            <p-dropdown [options]="states" [disabled]="!isLoanEditable || (unitDetails.stateStatus == 'LOS' || unitDetails.stateStatus == 'Mob')" name="state" [(ngModel)]="unitDetails.state" placeholder="Select a State"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>City *</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.cityStatus == 'LOS' || unitDetails.cityStatus == 'Mob')" [(ngModel)]="unitDetails.city" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(unitDetails.city, 'City')">
            <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>District</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.districtStatus == 'LOS' || unitDetails.districtStatus == 'Mob')" [(ngModel)]="unitDetails.district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(unitDetails.district, 'District')">
            <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Block/Tehsil/Sub-District</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.blockTehsilSubdistrictStatus == 'LOS' || unitDetails.blockTehsilSubdistrictStatus == 'Mob')" [(ngModel)]="unitDetails.blockTehsilSubdistrict" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(unitDetails.blockTehsilSubdistrict, 'Block')">
            <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Village</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.villageStatus == 'LOS' || unitDetails.villageStatus == 'Mob')" [(ngModel)]="unitDetails.village" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(unitDetails.village, 'Village')">
            <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Pincode *</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.pinCodeStatus == 'LOS' || unitDetails.pinCodeStatus == 'Mob')" [(ngModel)]="unitDetails.pinCode" maxlength="6" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(unitDetails.pinCode, 'Pincode')">
            <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Mobile Number *</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.mobileNumStatus == 'LOS' || unitDetails.mobileNumStatus == 'Mob')" [(ngModel)]="unitDetails.mobileNum" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Mobile')" (blur)="onBlurValidation(unitDetails.mobileNum, 'Mobile')">
            <span class="validation-msg" *ngIf="mobileValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="mobileVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Landline Number</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.landlineNumStatus == 'LOS' || unitDetails.landlineNumStatus == 'Mob')" [(ngModel)]="unitDetails.landlineNum" maxlength="20" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Landline')" (blur)="onBlurValidation(unitDetails.landlineNum, 'Landline')">
            <span class="validation-msg" *ngIf="landlineValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="landlineVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Email ID</label>
            <input type="text" [disabled]="!isLoanEditable || (unitDetails.emailIdStatus == 'LOS' || unitDetails.emailIdStatus == 'Mob')" [(ngModel)]="unitDetails.emailId" maxlength="40">
        </div>
    </div>
    <div class="input-row-wrapper two-column">
        <div class="radio-btn-wrapper">
            <span class="radio-btn-label">Guarantor Present *</span>
            <p-radioButton name="group2" [disabled]="!isLoanEditable || (unitDetails.guarantorsPresentStatus == 'LOS' || unitDetails.guarantorsPresentStatus == 'Mob')" value="1" label="Yes" [(ngModel)]="unitDetails.guarantorsPresent" (onClick)=guarantorPresent(1)></p-radioButton>
            <p-radioButton name="group2" [disabled]="!isLoanEditable || (unitDetails.guarantorsPresentStatus == 'LOS' || unitDetails.guarantorsPresentStatus == 'Mob')" value="0" label="No" [(ngModel)]="unitDetails.guarantorsPresent" (onClick)=guarantorPresent(0)></p-radioButton>
            <p-radioButton name="group2" [disabled]="!isLoanEditable || (unitDetails.guarantorsPresentStatus == 'LOS' || unitDetails.guarantorsPresentStatus == 'Mob')" value="2" label="NA" [(ngModel)]="unitDetails.guarantorsPresent" (onClick)=guarantorPresent(2)></p-radioButton>
        </div>
        <div class="input-wrapper guarantor-wrapper">
            <label>Number of Guarantor</label>
            <p-dropdown [options]="upToFive" [disabled]="!guarantorDisable || !isLoanEditable || (unitDetails.noOfGuarantorsStatus == 'LOS' || unitDetails.noOfGuarantorsStatus == 'Mob')" name="noOfGuarantors" [(ngModel)]="unitDetails.noOfGuarantors" placeholder="Number of Guarantors"></p-dropdown>
        </div>
    </div>
    <div class="input-row-wrapper two-column">
        <div class="radio-btn-wrapper">
            <span class="radio-btn-label">Key Person Present *</span>
            <p-radioButton name="group3" [disabled]="!isLoanEditable || (unitDetails.collateralIdentifiedStatus == 'LOS' || unitDetails.collateralIdentifiedStatus == 'Mob')" value="1" label="Yes" [(ngModel)]="unitDetails.collateralIdentified" (onClick)=collateralIdentified(1)></p-radioButton>
            <p-radioButton name="group3" [disabled]="!isLoanEditable || (unitDetails.collateralIdentifiedStatus == 'LOS' || unitDetails.collateralIdentifiedStatus == 'Mob')" value="0" label="No" [(ngModel)]="unitDetails.collateralIdentified" (onClick)=collateralIdentified(0)></p-radioButton>
            <p-radioButton name="group3" [disabled]="!isLoanEditable || (unitDetails.collateralIdentifiedStatus == 'LOS' || unitDetails.collateralIdentifiedStatus == 'Mob')" value="2" label="NA" [(ngModel)]="unitDetails.collateralIdentified" (onClick)=collateralIdentified(2)></p-radioButton>
        </div>
        <div class="input-wrapper  guarantor-wrapper">
            <label>Number of Key Persons</label>
            <p-dropdown [options]="upToFive" [disabled]="!collateralDisable || !isLoanEditable || (unitDetails.noOfKeyPersonStatus == 'LOS' || unitDetails.noOfKeyPersonStatus == 'Mob')" name="noOfKeyPerson" [(ngModel)]="unitDetails.noOfKeyPerson" placeholder="Number of KeyPerson"></p-dropdown>
        </div>
    </div>
    <div class="input-row-wrapper two-column">
            <div class="radio-btn-wrapper">
                <span class="radio-btn-label">Collateral Details*</span>
                <p-radioButton name="group4" value="1" label="Yes" [(ngModel)]="unitDetails.chkCollateral" [disabled]="!isCollateralDisabled || !isLoanEditable || (unitDetails.chkCollateralStatus == 'LOS' || unitDetails.chkCollateralStatus == 'Mob')"></p-radioButton>
                <p-radioButton name="group4" value="0" label="No" [(ngModel)]="unitDetails.chkCollateral" [disabled]="!isCollateralDisabled || !isLoanEditable || (unitDetails.chkCollateralStatus == 'LOS' || unitDetails.chkCollateralStatus == 'Mob')"></p-radioButton>
            </div>
        </div>
    <div class="input-row-wrapper last-row">
        <div class="message-wrapper">
            <p-message *ngIf="message" severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
        <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addUnitDetail();"></button>
    </div>
</section>