@import '../../../../../../assets/styles/variables.scss';
@import '../../../../../../assets/styles/mixins.scss';

.unit-detail-wrapper {
    @include flex-basic-from-start();
    flex-direction: column; 
    h3 {
        margin-top: 10px;
    }
    p-radiobutton {
        margin-left: 20px !important;
    }
    .button-wrapper {
        padding: 30px 0;
    }
    .message-wrapper {
        flex-grow: 1;
        margin-right: 20px;
    }
    .guarantor-wrapper {
        @include flex-basic();
        width: auto;
        margin-bottom: 0;
        p-dropdown {
            min-width: 230px;
        }
    }
    .input-row-wrapper {
        &.two-column {
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }
}
