<section class="establishment-detail-wrapper">
    <p-accordion>
        <p-accordionTab *ngFor="let establishmentDetails of establishmentList; let i = index">
            <p-header (click)="tabHeaderClick(i, establishmentDetails)">
                Establishment Details {{i+1}}
            </p-header>
            <div class="input-row-wrapper">
                <div class="checkbox-wrapper checkbox">
                    <label>
                        <!--<p-checkbox [(ngModel)]="establishmentDetails.checked" [disabled]="!isLoanEditable" label="Same as registered address of Unit" binary="true" (click)="sameAddress();"></p-checkbox>-->
                    </label>
                </div>
                <div class="parallel-label">
                    <label>Date of Visit*</label>
                    <p-calendar readonlyInput="true" [showIcon]="true" [disabled]="!isLoanEditable || (establishmentDetails.dateOfInspectionTSStatus == 'LOS' || establishmentDetails.dateOfInspectionTSStatus == 'Mob')" dateFormat="dd/mm/yy" [(ngModel)]="establishmentDetails.dateOfInspectionTSTemp"></p-calendar>
                </div>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Plot/Building/Flat No*</label>
                    <input required type="text" name="building_no" [disabled]="!isLoanEditable" maxlength="20" [(ngModel)]="establishmentDetails.building_no">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 1*</label>
                    <input required type="text" name="addressLine1" [disabled]="!isLoanEditable || (establishmentDetails.addressLine1Status == 'LOS' || establishmentDetails.addressLine1Status == 'Mob')" maxlength="20" [(ngModel)]="establishmentDetails.addressLine1">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 2*</label>
                    <input required type="text" name="addressLine2" [disabled]="!isLoanEditable" maxlength="20" [(ngModel)]="establishmentDetails.addressLine2">
                </div>
                <div class="input-wrapper">
                    <label>State*</label>
                    <p-dropdown [options]="states" name="state" [disabled]="!isLoanEditable || (establishmentDetails.stateStatus == 'LOS' || establishmentDetails.stateStatus == 'Mob')" [(ngModel)]="establishmentDetails.state" placeholder="Select a State"></p-dropdown>
                </div>
                <div class="input-wrapper">
                    <label>City*</label>
                    <input required type="text" name="city" [disabled]="!isLoanEditable || (establishmentDetails.cityStatus == 'LOS' || establishmentDetails.cityStatus == 'Mob')" maxlength="20" [(ngModel)]="establishmentDetails.city" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(establishmentDetails.city, 'City')">
                    <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>District</label>
                    <input required type="text" name="district" [disabled]="!isLoanEditable" maxlength="20" [(ngModel)]="establishmentDetails.district" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(establishmentDetails.district, 'District')">
                    <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Block/Tehsil/Sub-District</label>
                    <input required type="text" name="sub_district" [disabled]="!isLoanEditable" maxlength="20" [(ngModel)]="establishmentDetails.sub_district" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(establishmentDetails.sub_district, 'Block')">
                    <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Village</label>
                    <input required type="text" name="village" [disabled]="!isLoanEditable" maxlength="20" [(ngModel)]="establishmentDetails.village" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(establishmentDetails.village, 'Village')">
                    <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Pincode*</label>
                    <input required type="text" name="pinCode" [disabled]="!isLoanEditable || (establishmentDetails.pinCodeStatus == 'LOS' || establishmentDetails.pinCodeStatus == 'Mob')" maxlength="6" [(ngModel)]="establishmentDetails.pinCode" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(establishmentDetails.pinCode, 'Pincode')">
                    <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
                </div>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Ownership</label>
                    <p-dropdown [options]="ownership" [disabled]="!isLoanEditable" name="ownership" [(ngModel)]="establishmentDetails.ownership" placeholder="Select Ownership"></p-dropdown>
                </div>
                <div class="input-wrapper two-column">
                    <label>Existing Activity</label>
                    <input required type="text" name="activity" [disabled]="!isLoanEditable" maxlength="70" [(ngModel)]="establishmentDetails.activity" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Activity')" (blur)="onBlurValidation(establishmentDetails.activity, 'Activity')">
                    <span class="validation-msg" *ngIf="activityValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="activityVal">{{utilsService.validString}}</span>
                </div>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Proposed Activity</label>
                    <p-dropdown [options]="proposedActivity" [disabled]="!isLoanEditable" name="proposedActivity" [(ngModel)]="establishmentDetails.proposedActivity" placeholder="Select Proposed Activity"></p-dropdown>
                </div>
                <div class="input-wrapper two-column">
                    <label>Details</label>
                    <input required type="text" name="activity" [disabled]="!isLoanEditable" maxlength="30" [(ngModel)]="establishmentDetails.comment" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Details')" (blur)="onBlurValidation(establishmentDetails.comment, 'Details')">
                    <span class="validation-msg" *ngIf="detailsValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="detailsVal">{{utilsService.validString}}</span>
                </div>
            </div>

            <div class="input-row-wrapper" *ngIf="galleryImagesSelfy && galleryImagesSelfy.length>0 || galleryImages && galleryImages.length>0">
                <div class="input-wrapper" *ngIf="galleryImagesSelfy && galleryImagesSelfy.length>0">
                    <label>Selfie with Location</label>
                    <ngx-gallery [options]="galleryOptionsSelfy" [images]="galleryImagesSelfy"></ngx-gallery>
                </div>
                <div class="input-wrapper two-column" *ngIf="galleryImages && galleryImages.length>0">
                    <label>Location/Photo</label>
                    <!-- Gallery here -->
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
            </div>

            <div class="input-row-wrapper  last-row">
                <div class="message-wrapper">
                    <p-message *ngIf="establishmentDetails.message" severity="{{statusMsg}}" text="{{establishmentDetails.message}}"></p-message>
                </div>
                <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addEstablishmentDetail();"></button>
            </div>
        </p-accordionTab>
    </p-accordion>
    <div *ngIf="noData" class="no-data">
        <p class="title">No Establishment Details Found</p>
        <p class="sub-title">Please add Establishment Details from DIA Mobile application to complete inspection</p>
    </div>
    <div *ngIf="!noData" class="disclaimer">
        <span>Note: </span>To add new Establishment Details please initiate from mobile.</div>
</section>