@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.establishment-detail-wrapper {
    @include flex-basic-from-start();
    flex-direction: column;
    border-top: 1px solid $basic-gray;
    margin-top: 15px;
    h3 {
        margin: 10px 0 !important;
    }
    .accordion-wrapper {
        width: 100%;
        @include flex-basic-from-start();
        
    }
    .checkbox-wrapper {
        width: auto;
    }
    .message-wrapper {
        flex-grow: 1;
        margin-right: 20px;
    }
    .input-wrapper {
        &.two-column {
            margin-right: 0;
            flex-grow: 1;
        }
    }
}