<section class="contact-person-detail-wrapper">
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Select Salutation*</label>
            <p-dropdown [options]="salutation" [disabled]="!isLoanEditable || (contactPersonDetails.salutationStatus == 'LOS' || contactPersonDetails.salutationStatus == 'Mob')" name="salutation" [(ngModel)]="contactPersonDetails.salutation" placeholder="Salutation"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>First Name*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.firstNameStatus == 'LOS' || contactPersonDetails.firstNameStatus == 'Mob')" [(ngModel)]="contactPersonDetails.firstName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'First Name')" (blur)="onBlurValidation(contactPersonDetails.firstName, 'First Name')">
            <span class="validation-msg" *ngIf="firstNameValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="firstNameVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Middle Name</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.middleNameStatus == 'LOS' || contactPersonDetails.middleNameStatus == 'Mob')" [(ngModel)]="contactPersonDetails.middleName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Middle Name')" (blur)="onBlurValidation(contactPersonDetails.middleName, 'Middle Name')">
            <span class="validation-msg" *ngIf="middleNameValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="middleNameVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Last Name*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.lastNameStatus == 'LOS' || contactPersonDetails.lastNameStatus == 'Mob')" [(ngModel)]="contactPersonDetails.lastName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Last Name')" (blur)="onBlurValidation(contactPersonDetails.lastName, 'Last Name')">
            <span class="validation-msg" *ngIf="lastNameValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="lastNameVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Relationship with firm*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.relationshipWithFirmStatus == 'LOS' || contactPersonDetails.relationshipWithFirmStatus == 'Mob')" [(ngModel)]="contactPersonDetails.relationshipWithFirm" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Relationship')"  (blur)="onBlurValidation(contactPersonDetails.relationshipWithFirm, 'Relationship')">
            <span class="validation-msg" *ngIf="relationshipValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="relationshipVal">{{utilsService.validString}}</span>
          </div>
    </div>
    <div class="subtitle">
        <h3>Address</h3>
    </div>
    <div class="checkbox-wrapper checkbox">
        <p-checkbox [(ngModel)]="checked" [disabled]="!isLoanEditable" label="Same as registered address of Unit" binary="true" (click)="sameAddress();"></p-checkbox>
    </div>
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Plot/Building/Flat No*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.plotBuildingFlatNumStatus == 'LOS' || contactPersonDetails.plotBuildingFlatNumStatus == 'Mob')" [(ngModel)]="contactPersonDetails.plotBuildingFlatNum" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>Address Line 1*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.addressLine1Status == 'LOS' || contactPersonDetails.addressLine1Status == 'Mob')" [(ngModel)]="contactPersonDetails.addressLine1" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>Address Line 2*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.addressLine2Status == 'LOS' || contactPersonDetails.addressLine2Status == 'Mob')" [(ngModel)]="contactPersonDetails.addressLine2" maxlength="20">
        </div>
        <div class="input-wrapper">
            <label>State*</label>
            <p-dropdown [options]="states" [disabled]="!isLoanEditable || (contactPersonDetails.stateStatus == 'LOS' || contactPersonDetails.stateStatus == 'Mob')" name="state" [(ngModel)]="contactPersonDetails.state" placeholder="Select a State"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>City*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.cityStatus == 'LOS' || contactPersonDetails.cityStatus == 'Mob')" [(ngModel)]="contactPersonDetails.city" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(contactPersonDetails.city, 'City')">
            <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>District</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.districtStatus == 'LOS' || contactPersonDetails.districtStatus == 'Mob')" [(ngModel)]="contactPersonDetails.district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(contactPersonDetails.district, 'District')">
            <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Block/Tehsil/Sub-District</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.blockTehsilSubdistrictStatus == 'LOS' || contactPersonDetails.blockTehsilSubdistrictStatus == 'Mob')" [(ngModel)]="contactPersonDetails.blockTehsilSubdistrict" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(contactPersonDetails.blockTehsilSubdistrict, 'Block')">
            <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Village</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.villageStatus == 'LOS' || contactPersonDetails.villageStatus == 'Mob')" [(ngModel)]="contactPersonDetails.village" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(contactPersonDetails.village, 'Village')">
            <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Pincode*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.pinCodeStatus == 'LOS' || contactPersonDetails.pinCodeStatus == 'Mob')" [(ngModel)]="contactPersonDetails.pinCode" maxlength="6" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(contactPersonDetails.pinCode, 'Pincode')">
            <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Mobile Number*</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.mobileNumStatus == 'LOS' || contactPersonDetails.mobileNumStatus == 'Mob')" [(ngModel)]="contactPersonDetails.mobileNum" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Mobile')" (blur)="onBlurValidation(contactPersonDetails.mobileNum, 'Mobile')">
            <span class="validation-msg" *ngIf="mobileValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="mobileVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Landline Number</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.landlineNumStatus == 'LOS' || contactPersonDetails.landlineNumStatus == 'Mob')" [(ngModel)]="contactPersonDetails.landlineNum" maxlength="20" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Landline')" (blur)="onBlurValidation(contactPersonDetails.landlineNum, 'Landline')">
            <span class="validation-msg" *ngIf="landlineValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="landlineVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Email ID</label>
            <input type="text" [disabled]="!isLoanEditable || (contactPersonDetails.emailIdStatus == 'LOS' || contactPersonDetails.emailIdStatus == 'Mob')" [(ngModel)]="contactPersonDetails.emailId" maxlength="40">
        </div>
    </div>
    <div class="input-row-wrapper  last-row">
        <div class="message-wrapper">
            <p-message *ngIf="message" severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
        <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addContactPersonDetail();"></button>
    </div>
</section>