<section class="manage-account-transfer-wrapper">
  <div class="subtitle-wrapper">
    <div class="subtitle">Select Inspection to Transfer</div>
    
    <!-- <p-message class="error" severity="error" text="{{message}}" *ngIf="message"></p-message> -->
    <div class="button-wrapper">
      <div class="selection-wrapper">
          <label>Inspection by Inspector</label>
          <p-dropdown styleClass="inspector-pfid" [options]="pfIdOfReviewer" name="pfIdOfReviewer" placeholder="Select Inspector PFID"></p-dropdown>
      </div>
      <button class="basic-btn yellow" pButton type="button" label="TRANSFER" (click)="showDialog()"></button>
    </div>
  </div>
  <div class="table-wrapper">
    <p-dataTable class="incomplete" [value]="inspectionList" styleClass="outer-border">
      <p-column field="serNo" header="No:" [style]="{'width':'50px'}"></p-column>
      <p-column field="loanNum" header="LOS/CIF/LLMS Number"></p-column>
      <p-column field="borrowerUnitName" header="Name of Unit"></p-column>
      <p-column field="contactNumber" header="Contact Number"></p-column>
      <!-- <p-column field="inspectionDate" header="Date of Submission">
        <ng-template let-row="rowData" pTemplate="body">
          {{row.inspectionDate | date:'dd-MM-yyyy'}}
        </ng-template>
      </p-column> -->
      <p-column [style]="{'width':'200px'}">
        <ng-template pTemplate="header">
          <p-checkbox label="Select All" binary="true" (click)="selectAll()" [(ngModel)]="checked"></p-checkbox>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <p-dialog [(visible)]="display" width=350 modal="modal" styleClass="search-overlay">
      <p-header styleClass="popup-header">TRANSFER INSPECTION</p-header>
      <div class="search-textbox-wrapper">
        <div class="ui-g-12 text-box">
          <div class="ui-inputgroup">
            <!-- <p-dropdown [options]="reviewer" name="reviewer" [(ngModel)]="reviewerPfId" placeholder="Select a Reviewer" (onChange)="searchPFID()"></p-dropdown> -->
            <p-dropdown [options]="reviewer" name="reviewer" placeholder="Select a Reviewer" (onChange)="searchPFID()"></p-dropdown>
          </div>
        </div>
      </div>
      <!-- <div class="employee-detail-wrapper">
        <table *ngIf="displayPFIDdata">
          <tr>
            <td>Employee Name</td>
            <td>:</td>
            <td>{{userInfo.user.firstName}} {{userInfo.user.lastName}}</td>
          </tr>
          <tr>
            <td>Employee PF ID</td>
            <td>:</td>
            <td>{{userInfo.userDetails.pfId}}</td>
          </tr>
          <tr>
            <td>Branch Code</td>
            <td>:</td>
            <td>{{userInfo.userDetails.brId}}</td>
          </tr>
        </table>
        <p-message severity="error" text="{{message}}" *ngIf="message"></p-message>
      </div> -->
      <p-footer *ngIf="displayPFIDdata">
        <button type="button" class="small-btn gray" pButton (click)="display=false" label="Cancel"></button>
        <button type="button" class="small-btn yellow" pButton (click)="changeReviewer()" label="Change"></button>
      </p-footer>
    </p-dialog>
</section>