@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.manage-account-transfer-wrapper {
  .subtitle-wrapper {
    @include flex-basic();
    padding: 0 20px;
    .subtitle {
        font-size: 18px;
        color: $basic-blue;
    }
    .button-wrapper {
      .selection-wrapper {
        padding-right: 20px;
        label {
          padding-right: 6px;
        } 
        .inspector-pfid {
          width: auto !important;
        }
      }
        .basic-btn {
            &.yellow {
                padding: 0 !important;
                font-size: 14px;
            }
        }
    }
    .error {
        width: 100%;
    }
  }
  .table-wrapper {
      padding: 20px;
  }
}