@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.without-accordian-wrapper {
  @include flex-basic-from-start();
  ul {
    width: 100%;
    li {
      a {
        @include flex-basic-from-start();
        padding: 20px;
        color: $basic-dark-gray;
        background: url("../../../assets/images/icons/popup-aside-menu-arrow.png") no-repeat 300px center;
        &:hover {
          background-color: $basic-light-gray;
        }
        &.active {
          background-color: $basic-light-gray;
          font-family: $font-semi-bold;
          color: $basic-dark-blue;
          background: url("../../../assets/images/icons/popup-aside-menu-right-arrow-active.png") no-repeat 300px center;
        }
      }
    }
  }
}