<p-accordion [activeIndex]="index">
  <p-accordionTab header="Borrower Details" [selected]="true" nitialSelect>
    <ul>
      <li>
        <a (click)="borrowerSelect(10)" [routerLinkActive]="['active']" [routerLink]="['unitDetails']">Unit Details</a>
      </li>
      <li>
        <a (click)="borrowerSelect(11)" [routerLinkActive]="['active']" [routerLink]="['contactPersonDetails']">Contact Person Details</a>
      </li>
      <li *ngFor="let keyPerson of keyPersonCount; let i = index">
        <a (click)="borrowerSelect(i)" [routerLink]="['keyPersonDetails', { keyPersonNo: i}]" [ngClass]="{'active': borrowerSelectedIndex == i, 'list-group-item': true}">Key Person Details {{i+1}}</a>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Guarantor Details" *ngIf="!guarantorCountForSearchReport">
    <ul>
      <li *ngFor="let guarantor of guarantorCount; let i = index">
        <a (click)="guarantorSelect(i)" [routerLink]="['guarantorDetail', { guarantorNo: i}]" [ngClass]="{'active': guarantorSelectedIndex == i, 'list-group-item': true}">Guarantor {{i+1}}</a>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Establishment Details" *ngIf="!establishmentCountForSearchReport">
    <ul>
      <li *ngFor="let establishment of establishmentCount; let i = index">
        <a (click)="establishmentSelect(i)" [routerLink]="['establishmentDetail', { establishmentNo: i}]" [ngClass]="{'active': establishmentSelectedIndex == i, 'list-group-item': true}">Establishment {{i+1}}</a>
      </li>
    </ul>
  </p-accordionTab>
  <p-accordionTab header="Collateral Details" *ngIf="!collateralCountForSearchReport">
    <ul>
      <li *ngFor="let collateral of collateralCount; let i = index">
        <a (click)="collateralSelect(i)" [routerLink]="['collateralDetail', { collateralNo: i}]" [ngClass]="{'active': collateralSelectedIndex == i, 'list-group-item': true}">Collateral {{i+1}}</a>
      </li>
    </ul>
  </p-accordionTab>
</p-accordion>
<div class="without-accordian-wrapper">
  <ul>
    <li *ngIf="establishmentCountForSearchReport">
      <a [routerLinkActive]="['active']" [routerLink]="['establishmentDetail', { establishmentNo: 0}]">Establishment Details</a>
    </li>
    <li *ngIf="guarantorCountForSearchReport">
      <a [routerLinkActive]="['active']" [routerLink]="['guarantorDetail', { guarantorNo: 0}]">Guarantor Details</a>
    </li>
    <li *ngIf="collateralCountForSearchReport">
      <a [routerLinkActive]="['active']" [routerLink]="['collateralDetail', { collateralNo: 0}]">Collateral Details</a>
    </li>
    <li>
      <a (click)="withoutSelect()" [routerLinkActive]="['active']" [routerLink]="['loanRequested']">Loan Requested</a>
    </li>
    <li>
      <a (click)="withoutSelect()" [routerLinkActive]="['active']" [routerLink]="['presentLiabilities']">Present Liabilities</a>
    </li>
    <li>
      <a (click)="withoutSelect()" [routerLinkActive]="['active']" [routerLink]="['comments']">Comments</a>
    </li>
    <li>
      <a *ngIf="!inspectionReviewStatus" (click)="withoutSelect()" [routerLinkActive]="['active']" [routerLink]="['inspection']">Review Inspection</a>
      <a *ngIf="inspectionReviewStatus" (click)="withoutSelect()" [routerLinkActive]="['active']" [routerLink]="['inspection']">Inspection Review Status</a>
    </li>
  </ul>
</div>