<section class="popup-unit-detail-wrapper" *ngIf="unitDetails">
  <div class="popup-detail-section">
    <div class="detail-title">Unit Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Name of Unit</td>
          <td>{{unitDetails.nameOfUnit}}</td>
        </tr>
        <tr>
          <td>Activity of Unit</td>
          <td>{{unitDetails.activityOfUnit}}</td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td>{{unitDetails.constitution}}</td>
        </tr>
        <tr>
          <td>Date of Establishment</td>
          <td>{{unitDetails.dateOfEstablishTS | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <td>Pan Number</td>
          <td>{{unitDetails.panTan}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{unitDetails.plotBuildingFlatNum}}</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{unitDetails.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{unitDetails.addressLine2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{unitDetails.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{unitDetails.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{unitDetails.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{unitDetails.blockTehsilSubdistrict}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{unitDetails.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{unitDetails.pinCode}}</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td>{{unitDetails.mobileNum}}</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td>{{unitDetails.landlineNum}}</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td>{{unitDetails.emailId}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!--<div class="button-wrapper">
    <button type="button" class="basic-btn dark-blue popup-next-btn" (click) ="next()" pButton label="Next">
      <i class="fa fa-angle-right right-arrow"></i>
    </button>
  </div>-->
</section>