@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

p-radiobutton {
    margin:0 10px 0 10px;
}
.input-wrapper {
  position: relative;
}
.validation-msg {
  position: absolute;
  color: $red;
  font-size: 12px;
  bottom: -20px;
}