<div class="new-inspection-wrapper">
    <div class="search-inspection-wrapper">
        <h4>Start a new Inspection</h4>
        <div class="search-inspection">
            <div class="search-container">
                <div class="radio-btn-wrapper">
                    Search Loan with
                    <p-radioButton name="SearchLoanWith" value="LOS Number" label="LOS" [(ngModel)]="searchWithLos" inputId="preopt1" (onClick)=searchCategory(1)></p-radioButton>
                    <p-radioButton name="SearchLoanWith" value="Branch Code" label="Branch Code" [(ngModel)]="searchWithBranch" inputId="preopt2" (onClick)=searchCategory(2)></p-radioButton>
                    <p-radioButton name="SearchLoanWith" value="Without LOS Number" label="Without LOS Number" [(ngModel)]="searchWithout" inputId="preopt3" (onClick)=searchCategory(3)></p-radioButton>
                </div>
                <div class="search-input-wrapper" *ngIf="!reviewerDetail">
                    <div class="input-wrapper">
                        <label>LOS No</label>
                        <input type="text" [(ngModel)]="losNumber" #los id="los" [disabled]="!searchWithLos" placeholder="Enter LOS No" maxlength="20" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'LOS')" (blur)="onBlurValidation(losNumber, 'LOS')">
                        <span class="validation-msg" *ngIf="LOSValBlur">{{onlyNumber}}</span>
                        <span class="validation-msg" *ngIf="LOSVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="or">or</div>
                    <div class="input-wrapper">
                        <label>Enter Branch Code</label>
                        <input type="text" [(ngModel)]="branchCode" [disabled]="!searchWithBranch" placeholder="Enter Branch Code"  maxlength="5" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Branch')" (blur)="onBlurValidation(branchCode, 'Branch')">
                        <span class="validation-msg" *ngIf="BranchValBlur">{{onlyNumber}}</span>
                        <span class="validation-msg" *ngIf="BranchVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>From</label>
                        <p-calendar [showIcon]="true" [(ngModel)]="fromDate" [disabled]="!searchWithBranch" dateFormat="dd/mm/yy" placeholder="dd/mm/yy" [maxDate]="currentDate"></p-calendar>
                    </div>
                    <div class="input-wrapper">
                        <label>To</label>
                        <p-calendar [showIcon]="true" [(ngModel)]="toDate" [disabled]="!searchWithBranch" dateFormat="dd/mm/yy" placeholder="dd/mm/yy" [maxDate]="currentDate"></p-calendar>
                    </div>
                </div>
                <!-- <div class="search-input-wrapper" *ngIf="reviewerDetail">
                    <div class="input-wrapper">
                        <label>Reviewer PFID *</label>
                        <input type="text" [(ngModel)]="reviewerPFID" placeholder="Reviewer PFID" maxlength="7">
                    </div>
                    <div class="input-wrapper">
                        <label>Borrower Branch Code *</label>
                        <input type="text" [(ngModel)]="borrowerBranch" placeholder="Borrower Branch Code" maxlength="5">
                    </div>
                    <div class="input-wrapper">
                        <label>Borrower Account Number *</label>
                        <input type="text" [(ngModel)]="borrowerAccountNumber" placeholder="Borrower Acc." OnlyNumber="true" maxlength="17">
                    </div>
                </div> -->
                <div class="search-btn-wrapper">
                    <!-- <button tabindex="0" [disabled]="!losNumber && (!branchCode || !fromDate || !toDate) && (!reviewerPFID || !borrowerBranch || !borrowerAccountNumber)" class="basic-btn yellow" pButton type="button" label="SUBMIT" (click)="searchLoanList();"></button> -->
                    <button tabindex="0" [disabled]="!losNumber && (!branchCode || !fromDate || !toDate)  && !searchLoanWithout" class="basic-btn yellow" pButton type="button" label="SUBMIT" (click)="searchLoanList();"></button>
                </div>
            </div>
            <p-message *ngIf="statusMsg" class="error-msg" severity="error" text="{{statusMsg}}"></p-message>
        </div>
    </div>
</div>
<router-outlet></router-outlet>