<section class="loan-requested-detail-wrapper">
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Type of Loan Requested *</label>
            <p-dropdown [options]="loanReqType" name="loanReqType" [(ngModel)]="loanRequestedDetails.loanReqType" placeholder="Type of Loan Requested"
                (onChange)="loanTypeSelection(loanRequestedDetails.loanReqType)"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>Other Loan</label>
            <input required type="text" name="otherLoan" [disabled]="!isOtherLoanTypeEnabled" [(ngModel)]="loanRequestedDetails.otherLoan" maxlength="50" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Other')" (blur)="onBlurValidation(loanRequestedDetails.otherLoan, 'Other')">
            <span class="validation-msg" *ngIf="otherValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="otherVal">{{utilsService.validString}}</span>
          </div>
        <div class="input-wrapper">
            <label>Purpose of Loan*</label>
            <p-dropdown [options]="purposeOfLoan" name="purposeOfLoan" [(ngModel)]="loanRequestedDetails.purposeOfLoan" placeholder="Purpose of Loan"
                (onChange)="loanPurposeSelection(loanRequestedDetails.purposeOfLoan)"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>Other Purpose of Loan</label>
            <input type="text" [disabled]="!isOtherLoanPurposeEnabled" [(ngModel)]="loanRequestedDetails.otherPurposeOfLoan" maxlength="50" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Purpose')" (blur)="onBlurValidation(loanRequestedDetails.otherPurposeOfLoan, 'Purpose')">
            <span class="validation-msg" *ngIf="purposeValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="purposeVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Limit Requested *</label>
            <input type="text" [(ngModel)]="loanRequestedDetails.limitRequested" maxlength="40" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Limit')" (blur)="onBlurValidation(loanRequestedDetails.limitRequested, 'Limit')">
            <span class="validation-msg" *ngIf="limitValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="limitVal">{{utilsService.validString}}</span>
        </div>
    </div>
    <div class="button-wrapper">
        <div class="message-wrapper">
            <p-message *ngIf="message" severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
        <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="Add" (click)="addLoanRequestedDetail()"></button>


    </div>
    <table class="data-adding" *ngIf="loanRequestedList && loanRequestedList.length > 0">
        <thead>
            <tr>
                <th width="20">No</th>
                <th width="200">Type of Loan Requested</th>
                <th width="150">Purpose of Loan</th>
                <th>Limit (in Rs.)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loanRequest of loanRequestedList; let i = index">
                <td>{{i+1}}</td>
                <td *ngIf="loanRequest.loanReqType != 'Others'">{{loanRequest.loanReqType}}</td>
                <td *ngIf="loanRequest.loanReqType == 'Others'">{{loanRequest.otherLoan}}</td>
                <td>{{loanRequest.purposeOfLoan}}</td>
                <td>{{loanRequest.limitRequested | currency:"₹"}}</td>
            </tr>
        </tbody>
    </table>
</section>