@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.loan-requested-detail-wrapper {
    @include flex-basic-from-start();
    flex-direction: column;
    border-top: 1px solid $basic-gray;
    margin-top: 15px;
    .button-wrapper {
        width: 100%;
        margin-top: 20px;
        @include flex-basic();
        justify-content: space-between;
        .message-wrapper {
            width: 100%;
            margin-right: 20px;
        }
    }
}
