<section class="main-section-wrapper sme-section">
    
    <h1>Welcome to {{loanName}} loan Inspection</h1>
    <section class="section-wrapper">
        <div class="section-container">
            <ul>
                <li class="presanction" *ngIf="userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['detail/presanctionNew']">PRE SANCTION</a>
                        <a *ngIf="notificationCount" [routerLink]="['detail/presanctionIncomplete']">
                            <span>{{notificationCount.preInspectionWebIncomplete}}</span> Incomplete Inspections</a>
                    </div>
                </li>
                <li class="presanction not-active" *ngIf="!userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['detail/presanctionNew']">PRE SANCTION</a>
                        <a *ngIf="notificationCount" [routerLink]="['detail/presanctionIncomplete']">
                            <span>{{notificationCount.preInspectionWebIncomplete}}</span> Incomplete Inspections</a>
                    </div>
                </li>
                
                <li class="postsanction not-active">
                    <div class="sublink-wrapper">
                        <a class="section-title" href="#">POST SANCTION</a>
                        <a href="#">
                            <span>0</span> Incomplete Inspections</a>
                    </div>
                </li>
                <li class="review-reports" *ngIf="userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['reviewReport']">REVIEW REPORTS</a>
                        <a *ngIf="notificationCount" [routerLink]="['reviewReport']">
                            <span>{{notificationCount.preInspectionReviewPending}}</span> Pending Inspections</a>
                    </div>
                </li>
                <li class="review-reports not-active" *ngIf="!userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['reviewReport']">REVIEW REPORTS</a>
                        <a href="#">
                            <span>0</span> Pending Inspections</a>
                    </div>
                </li>
                <li class="settings" *ngIf="userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['manageInspection']">MANAGE INSPECTION</a>
                        <a [routerLink]="['manageInspection']">Add and Manage Reviewer</a>
                    </div>
                </li>
                <li class="settings not-active" *ngIf="!userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['manageInspection']">MANAGE INSPECTION</a>
                        <a href="#">Add and Manage Reviewer</a>
                    </div>
                </li>
                <!--<li class="search-reports not-active">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['searchReport']">SEARCH REPORTS</a>
                        <a [routerLink]="['searchReport']">Get all Reports easily</a>
                    </div>
                </li>-->
                <li class="search-reports" *ngIf="userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" [routerLink]="['searchReport']">SEARCH REPORTS</a>
                        <a [routerLink]="['searchReport']">Get all Reports easily</a>
                    </div>
                </li>
                <li class="search-reports not-active" *ngIf="!userDetails">
                    <div class="sublink-wrapper">
                        <a class="section-title" href="#">SEARCH REPORTS</a>
                        <a href="#">Get all Reports easily</a>
                    </div>
                </li>
                <li class="link-reports not-active">
                    <div class="sublink-wrapper">
                        <a class="section-title" href="#">LINK INSPECTION <br>REPORTS</a>
                        <a href="#">Link and Unlink Reports</a>
                    </div>
                </li>
                
                <li class="postsanction-due not-active">
                    <div class="sublink-wrapper">
                        <a class="section-title" href="#">POST SANCTION <br>DUE/OVERDUE</a>
                        <a href="#">Due and Overdues</a>
                    </div>
                </li>
                <li class="old-inspection not-active">
                    <div class="sublink-wrapper">
                        <a class="section-title" href="#">OLD INSPECTION<br>REPORT HISTORY</a>
                        <a href="#">Get all old Reports</a>
                    </div>
                </li>
            </ul>
            <div class="overlay" *ngIf="!userDetails"></div>
        </div>
        
    </section>
</section>