@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.main-section-wrapper {
    margin: -20px;
    overflow: auto;
    .section-wrapper {
        @include flex-basic();
        @include border-radius(8px);
        background: $white;
        padding: 20px 50px;
        margin: 20px auto 0px auto;
        max-width: 1366px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .section-container {
            flex: 1;
            position: relative;
            ul {
                @include flex-basic();
                flex-wrap: wrap;
                li {
                    @include flex-basic();
                    height: 110px;
                    padding: 0px 20px 0px 100px;
                    margin-bottom: 20px;
                    border: 1px solid $basic-light-gray;
                    flex-grow:1;
                    box-sizing: border-box;
                    flex: 1 1 40%;
                    @include border-radius(4px);
                    .sublink-wrapper {
                        @include flex-basic();
                        justify-content: space-between;
                        flex-basis: 100%;
                        a {
                            color: $basic-dark-blue;
                            &.section-title {
                                color: $basic-dark-gray;
                            }
                            &:first-child {
                                font-family: $font-semi-bold;
                                font-size: 18px;
                            }
                            &:last-child {
                                span {
                                    font-family: $font-semi-bold;
                                    font-size: 22px;
                                    color: $basic-blue;
                                }
                            }
                        }
                        &.not-active { 
                            a {
                                pointer-events: none;
                                cursor: default;
                                color: $basic-gray;
                                span {
                                    color: $basic-gray;
                                }
                            }
                        }
                    }
                    &.presanction {
                        background: $white url('../../../assets/images/icons/pre-sanction-icon-big.png') 20px center no-repeat;
                    }
                    &.review-reports {
                        background: $white url('../../../assets/images/icons/review-reports-icon-big.png') 20px center no-repeat;
                    }
                    &.settings {
                        background: $white url('../../../assets/images/icons/manage-inspection-icon-big.png') 20px center no-repeat;
                    }
                    &.postsanction {
                        background: $white url('../../../assets/images/icons/post-sanction-icon-big.png') 20px center no-repeat;
                    }
                    &.search-reports {
                        background: $white url('../../../assets/images/icons/reports-icon-big.png') 20px center no-repeat;
                    }
                    &.link-reports {
                        cursor: not-allowed;
                        opacity: 0.4;
                        background: $white url('../../../assets/images/icons/link-inspection-icon-big.png') 20px center no-repeat;
                    }
                    &.postsanction-due {
                        cursor: not-allowed;
                        opacity: 0.4;
                        background: $white url('../../../assets/images/icons/post-sanction-due-icon-big.png') 20px center no-repeat;
                    }
                    &.old-inspection {
                        cursor: not-allowed;
                        opacity: 0.4;
                        background: $white url('../../../assets/images/icons/old-inspection-icon-big.png') 20px center no-repeat;
                    }
                    &:nth-child(odd) {
                        margin-right: 10px;
                    }
                    &:nth-child(even) {
                        margin-left: 10px;
                    }
                    &.presanction, &.review-reports, &.settings, &.postsanction, &.search-reports, &.link-reports, &.postsanction-due, &.old-inspection {
                        &.not-active {
                            cursor: not-allowed;
                            opacity: 0.4;
                            a {
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(255,255,255, 0.1);
          cursor: not-allowed;
        }
    }
}


