<section class="comments-wrapper">
    <div class="input-row-wrapper">
        <div class="input-column">
            <label>Application sourced by *</label>
            <p-dropdown [options]="applicationSource" [disabled]="!isLoanEditable || (comments.applicationSourceStatus == 'LOS' || comments.applicationSourceStatus == 'Mob')" name="applicationSource" [(ngModel)]="comments.applicationSource" placeholder="Select a Source" (onChange)="applicationSourceSelection(comments.applicationSource)"></p-dropdown>
        </div>
        <div class="input-column">
            <label>Others</label>
            <input type="text" [disabled]="!isDisabled || !isLoanEditable || (comments.otherSourceStatus == 'LOS' || comments.otherSourceStatus == 'Mob')" [(ngModel)]="comments.otherSource" maxlength="100" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Others')" (blur)="onBlurValidation(comments.otherSource, 'Others')">
            <span class="validation-msg" *ngIf="otherValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="otherVal">{{utilsService.validString}}</span>
        </div>

    </div>
    <div class="input-row-wrapper">
        <div class="input-column">
            <label>Comments on activity of file/company verified *</label>
            <textarea [(ngModel)]="comments.commentsOnActivity" [disabled]="!isLoanEditable || (comments.commentsOnActivityStatus == 'LOS' || comments.commentsOnActivityStatus == 'Mob')" maxlength="500"></textarea>
        </div>
        <div class="input-column">
            <label>Comments about the general working of the company/firm *</label>
            <textarea [(ngModel)]="comments.commentOnGeneralWorkFirm" [disabled]="!isLoanEditable || (comments.commentOnGeneralWorkFirmStatus == 'LOS' || comments.commentOnGeneralWorkFirmStatus == 'Mob')" maxlength="500"></textarea>
        </div>

    </div>
    <div class="input-row-wrapper">
        <div class="input-column">
            <label>Data collection done, if any *</label>
            <textarea [(ngModel)]="comments.commentsOnDataCollection" [disabled]="!isLoanEditable || (comments.commentsOnDataCollectionStatus == 'LOS' || comments.commentsOnDataCollectionStatus == 'Mob')" maxlength="500"></textarea>
        </div>
        <div class="input-column">
            <label>Remarkable points discussed with the borrower</label>
            <textarea [(ngModel)]="comments.remarkablePointFromBorrower" [disabled]="!isLoanEditable || (comments.remarkablePointFromBorrowerStatus == 'LOS' || comments.remarkablePointFromBorrowerStatus == 'Mob')" maxlength="500"></textarea>
        </div>

    </div>
    <div class="input-row-wrapper">
        <div class="input-column">
            <label>Position of Statutory dues, Environmental clearances etc</label>
            <input type="text" [(ngModel)]="comments.positionOfStatutoryDues" [disabled]="!isLoanEditable || (comments.positionOfStatutoryDuesStatus == 'LOS' || comments.positionOfStatutoryDuesStatus == 'Mob')" maxlength="135" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Position')" (blur)="onBlurValidation(comments.positionOfStatutoryDues, 'Position')">
            <span class="validation-msg" *ngIf="positionValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="positionVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-column">
            <label>Name of accompanying official</label>
            <input type="text" [(ngModel)]="comments.nameOfAccompanyingOfficial" [disabled]="!isLoanEditable || (comments.nameOfAccompanyingOfficialStatus == 'LOS' || comments.nameOfAccompanyingOfficialStatus == 'Mob')" maxlength="100" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Name')" (blur)="onBlurValidation(comments.nameOfAccompanyingOfficial, 'Name')">
            <span class="validation-msg" *ngIf="nameValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="nameVal">{{utilsService.validString}}</span>
        </div>

    </div>
    <div class="input-row-wrapper align-flex-end">
        <div class="input-column">
            <label>PF ID reviewer *</label>
            <p-dropdown [options]="pfIdOfReviewer" [disabled]="!isLoanEditable || (comments.pfIdOfReviewerStatus == 'LOS' || comments.pfIdOfReviewerStatus == 'Mob')" name="pfIdOfReviewer" [(ngModel)]="comments.pfIdOfReviewer" placeholder="Select PF ID"></p-dropdown>
        </div>
        <div class="input-column right-align">
            <button class="basic-btn yellow" pButton type="button" [disabled]="!isLoanEditable" label="SAVE" (click)="addComments()"></button>
            <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SUBMIT FOR REVIEW" (click)="submitSMEPresanction()"></button>
        </div>
        <div id="test" class="input-row-wrapper" *ngIf="message">
            <div class="message-wrapper">
                <p-message severity="{{statusMsg}}" text="{{message}}"></p-message>
            </div>
        </div>
    </div>
    <p-confirmDialog header="Fill mandatory fields" icon="fa fa-question-circle" width="425" #cd>
        <p-footer>
            <button class="small-btn yellow" type="button" pButton label="Ok" (click)="cd.reject()"></button>
        </p-footer>
    </p-confirmDialog>
</section>