<section class="popup-key-person-wrapper" *ngIf="keyPersonDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Key Person Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td *ngIf="keyPersonDetail.firstName">{{keyPersonDetail.firstName}}</td>
          <td *ngIf="!keyPersonDetail.firstName">NA</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td *ngIf="keyPersonDetail.middleName">{{keyPersonDetail.middleName}}</td>
          <td *ngIf="!keyPersonDetail.middleName">NA</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td *ngIf="keyPersonDetail.lastName">{{keyPersonDetail.lastName}}</td>
          <td *ngIf="!keyPersonDetail.lastName">NA</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td *ngIf="keyPersonDetail.relationshipWithFirm">{{keyPersonDetail.relationshipWithFirm}}</td>
          <td *ngIf="!keyPersonDetail.relationshipWithFirm">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td *ngIf="keyPersonDetail.plotBuildingFlatNum">{{keyPersonDetail.plotBuildingFlatNum}}</td>
          <td *ngIf="!keyPersonDetail.plotBuildingFlatNum">NA</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td *ngIf="keyPersonDetail.addressLine1">{{keyPersonDetail.addressLine1}}</td>
          <td *ngIf="!keyPersonDetail.addressLine1">NA</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td *ngIf="keyPersonDetail.addressLine2">{{keyPersonDetail.addressLine2}}</td>
          <td *ngIf="!keyPersonDetail.addressLine2">NA</td>
        </tr>
        <tr>
          <td>State</td>
          <td *ngIf="keyPersonDetail.state">{{keyPersonDetail.state}}</td>
          <td *ngIf="!keyPersonDetail.state">NA</td>
        </tr>
        <tr>
          <td>City</td>
          <td *ngIf="keyPersonDetail.city">{{keyPersonDetail.city}}</td>
          <td *ngIf="!keyPersonDetail.city">NA</td>
        </tr>
        <tr>
          <td>District</td>
          <td *ngIf="keyPersonDetail.district">{{keyPersonDetail.district}}</td>
          <td *ngIf="!keyPersonDetail.district">NA</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td *ngIf="keyPersonDetail.blockTehsilSubdistrict">{{keyPersonDetail.blockTehsilSubdistrict}}</td>
          <td *ngIf="!keyPersonDetail.blockTehsilSubdistrict">NA</td>
        </tr>
        <tr>
          <td>Village</td>
          <td *ngIf="keyPersonDetail.village">{{keyPersonDetail.village}}</td>
          <td *ngIf="!keyPersonDetail.village">NA</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td *ngIf="keyPersonDetail.pinCode">{{keyPersonDetail.pinCode}}</td>
          <td *ngIf="!keyPersonDetail.pinCode">NA</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td *ngIf="keyPersonDetail.mobileNum">{{keyPersonDetail.mobileNum}}</td>
          <td *ngIf="!keyPersonDetail.mobileNum">NA</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td *ngIf="keyPersonDetail.landlineNum">{{keyPersonDetail.landlineNum}}</td>
          <td *ngIf="!keyPersonDetail.landlineNum">NA</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td *ngIf="keyPersonDetail.emailId">{{keyPersonDetail.emailId}}</td>
          <td *ngIf="!keyPersonDetail.emailId">NA</td>
        </tr>
      </table>
    </div>
  </div>
</section>
  <div *ngIf="noData" class="no-data">
        <p class="title">No Key Person Details Found</p>
        <p class="sub-title">Key Person Details not added</p>
  </div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->