<section class="present-liabilities-detail-wrapper">
    <div class="input-row-wrapper">
        <div class="radio-btn-wrapper">
            Liabilities of SBI exists *
            <p-radioButton name="group1" value="1" label="Yes" [(ngModel)]="liabilityDetails.liabilityExist" inputId="preopt1" (click)="liabilitySelect(1)"></p-radioButton>
            <p-radioButton name="group1" value="0" label="No" [(ngModel)]="liabilityDetails.liabilityExist" inputId="preopt2" (click)="liabilitySelect(0)"></p-radioButton>
            <p-radioButton name="group1" value="2" label="NA" [(ngModel)]="liabilityDetails.liabilityExist" inputId="preopt3" (click)="liabilitySelect(2)"></p-radioButton>
        </div>
        <div class="parallel-label">
            <label>Date of Sanction*</label>
            <p-calendar [showIcon]="true" [disabled]="isDisabled" dateFormat="dd/mm/yy" [(ngModel)]="sanctionDate"></p-calendar>
        </div>
    </div>
    <div class="input-row-wrapper">
        <div class="input-wrapper">
            <label>Type of Facility *</label>
            <p-dropdown [options]="facilityType" [disabled]="isDisabled" name="facilityType" [(ngModel)]="liabilityDetails.facilityType"
                placeholder="Type of Facility" (onChange)="loanPurposeSelection(liabilityDetails.facilityType)"></p-dropdown>
        </div>
        <div class="input-wrapper">
            <label>Other Loans</label>
            <input type="text" [disabled]="isDisabled || !isOtherLoansDisabled" [(ngModel)]="liabilityDetails.others" maxlength="20"
                (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Other')" (blur)="onBlurValidation(liabilityDetails.others, 'Other')">
            <span class="validation-msg" *ngIf="otherValBlur">{{onlyAlphabet}}</span>
            <span class="validation-msg" *ngIf="otherVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Account Number *</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.accountNumber" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Account')"
                maxlength="20" (blur)="onBlurValidation(liabilityDetails.accountNumber, 'Account')">
            <span class="validation-msg" *ngIf="accountValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="accountVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Limited Sanctioned *</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.limitSanction" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Limited')"
                (blur)="onBlurValidation(liabilityDetails.limitSanction, 'Limited')">
            <span class="validation-msg" *ngIf="limitedValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="limitedVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Market Value*</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.marketValue" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Market')"
                (blur)="onBlurValidation(liabilityDetails.marketValue, 'Market')">
            <span class="validation-msg" *ngIf="marketValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="marketVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Advance Value*</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.advancedValue" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Advance')"
                (blur)="onBlurValidation(liabilityDetails.advancedValue, 'Advance')">
            <span class="validation-msg" *ngIf="advanceValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="advanceVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Drawing Power*</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.drawingPower" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Drawing')"
                (blur)="onBlurValidation(liabilityDetails.drawingPower, 'Drawing')">
            <span class="validation-msg" *ngIf="drawingValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="drawingVal">{{utilsService.validString}}</span>
        </div>
        <div class="input-wrapper">
            <label>Outstanding Amount as of now</label>
            <input type="text" [disabled]="isDisabled" [(ngModel)]="liabilityDetails.outstandingAmount" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Outstanding')"
                (blur)="onBlurValidation(liabilityDetails.outstandingAmount, 'Outstanding')">
            <span class="validation-msg" *ngIf="outstandingValBlur">{{onlyNumber}}</span>
            <span class="validation-msg" *ngIf="outstandingVal">{{utilsService.validString}}</span>
        </div>
    </div>
    <div class="button-wrapper">
        <div class="message-wrapper">
            <p-message *ngIf="message" severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
        <button class="basic-btn yellow" pButton type="button" label="Add" [disabled]="isDisabled || !isLoanEditable" (click)="addLiabilityDetail()"></button>
    </div>
    <table class="data-adding" *ngIf="liabilityList && liabilityList.length > 0">
        <thead>
            <tr>
                <th width="20">No</th>
                <th width="">Facility</th>
                <th width="">Account No</th>
                <th>Limit Sanctioned</th>
                <th>Date of Sanction</th>
                <th>Market Value</th>
                <th>Advance Value</th>
                <th>DP</th>
                <th>Outstanding Amount</th>
                <!--<th>Irregularity in Acees of</th>-->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let liability of liabilityList; let i = index">
                <td>{{i+1}}</td>
                <td>{{liability.facilityType}}</td>
                <td><span *ngIf="liability.accountNumber != 'null'">{{liability.accountNumber}}</span></td>
                <td><span *ngIf="liability.limitSanction != 'null'">{{liability.limitSanction | currency:"₹"}}</span></td>
                <td><span *ngIf="liability.dateOfSanctionTS != 0">{{liability.dateOfSanctionTS | date:'dd-MM-yyyy'}}</span></td>
                <td><span *ngIf="liability.marketValue != 'null'">{{liability.marketValue | currency:"₹"}}</span></td>
                <td>{{liability.advancedValue | currency:"₹"}}</td>
                <td>{{liability.drawingPower | currency:"₹"}}</td>
                <td>{{liability.outstandingAmount | currency:"₹"}}</td>
                <!--<td></td>-->
            </tr>
        </tbody>
    </table>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
</section>