@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.change-reviewer-wrapper {
    .subtitle-wrapper {
        @include flex-basic();
        padding: 0 20px;
        .subtitle {
            font-size: 18px;
            color: $basic-blue;
        }
        .button-wrapper {
            .basic-btn {
                &.yellow {
                    padding: 0 !important;
                    font-size: 14px;
                }
            }
        }
        .error {
            width: 100%;
        }
    }
    .table-wrapper {
        padding: 20px;
    }
    .search-textbox-wrapper {
      display: flex;
      .text-box {
          padding: 0;
          margin-bottom: 10px;
          input {
              width: 100%;
          }
      }
      
  }
  .employee-detail-wrapper {
    table {
        tr {
            td {
                padding: 8px 0;
                &:first-child {
                    color: $basic-gray; 
                }
                &:nth-child(2) {
                    width: 15px;
                    text-align: center;
                }
            }
        }
    }
}
}