<section class="borrower-detail-wrapper">
    <div class="sub-menu">
        <ul>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['unitDetails']">Unit Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['contactPersonDetails']">Contact Person Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['keyPersonDetails']">Key Person Details</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</section>