<section class="presanction-incomplete-wrapper">
  <p-dataTable class="incomplete" [value]="incompleteList" sortMode="multiple" styleClass="borderless">
    <p-column field="inspectionId" [filter]="true" header="DIA Reference ID" [sortable]="true" filterPlaceholder="Search DIA Reference ID"
      styleClass="search-refid"></p-column>
    <p-column field="losNum" [filter]="true" header="LOS NO." [sortable]="true" filterPlaceholder="Search LOS NO.">
      <ng-template let-row="rowData" pTemplate="body">
        {{row.losNum}}
        <span *ngIf="!row.losNum">NA</span>
      </ng-template>
    </p-column>
    <p-column field="unitName" header="Unit Name" [sortable]="true"></p-column>
    <!-- <p-column field="unitName" header="Reference ID"></p-column> -->
    <p-column [style]="{'width':'125px'}" field="initiationDateTS" header="Date of Initiation" [sortable]="true">
      <ng-template let-row="rowData" pTemplate="body">
        <span *ngIf="row.initiationDateTS != 0">{{row.initiationDateTS | date:'dd-MM-yyyy'}}</span>
        <span *ngIf="row.initiationDateTS == 0">NA</span>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'120px'}" field="lastvisitdate" header="Last Visit Date" [sortable]="true">
      <ng-template let-row="rowData" pTemplate="body">
        <span *ngIf="row.pendingSinceTS != 0">{{row.pendingSinceTS | date:'dd-MM-yyyy'}}</span>
        <span *ngIf="row.pendingSinceTS == 0">NA</span>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'120px'}" field="pendingSinceTS" header="Pending Since" [sortable]="true">
      <ng-template let-row="rowData" pTemplate="body">
        <span *ngIf="row.pendingSinceTS != 0">{{row.pendingSinceTS | date:'dd-MM-yyyy'}}</span>
        <span *ngIf="row.pendingSinceTS == 0">NA</span>
      </ng-template>
    </p-column>
    <p-column field="loanStatus" header="Status" [sortable]="true"></p-column>
    <p-column [style]="{'width':'140px'}">
      <ng-template pTemplate="header">Complete</ng-template>
      <ng-template let-los="rowData" pTemplate="body">
        <button class="basic-btn transparent" label="Complete" type="button" pButton (click)="completeLOS(los)"></button>
      </ng-template>
    </p-column>
    <!-- <p-column [style]="{'width':'150px'}">
            <ng-template pTemplate="header">No Action</ng-template>
            <ng-template let-los="rowData" pTemplate="body">
                <button class="basic-btn transparent" label="No Action" type="button" pButton></button>
            </ng-template>
        </p-column> -->
  </p-dataTable>
</section>