@font-face {
	font-family: 'Open Sans Regular';
	src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Bold';
	src: url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans Semi Bold';
	src: url('assets/fonts/OpenSans-Semibold.ttf') format('truetype');
}