@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.show{
    display: block !important;
}
.hide{
    display: none !important;
}
#spinner-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99999999;
    #loading {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 16px solid $table-header;
        border-radius: 50%;
        border-top: 16px solid $basic-blue;
        border-bottom: 16px solid $basic-blue;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin-left: -30px;
        margin-top: -30px;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      
    }
}