@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.header-wrapper {
    height: 128px;
    display: flex;
    background: $basic-dark-blue;
    color: $basic-dark-gray;
    max-width: 1366px;
    margin: 0 auto;
}
.logo-container {
    width: 260px;
    cursor: pointer;
    @include flex-basic();
}
.header-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .header-title-wrapper {
        height: 48px;
        display: flex;
        justify-content: space-between;
        background: $white;
        padding-left: 18px;
        .username-wrapper, .notification-wrapper {
            @include flex-basic();
        }
        .username-wrapper {
            background: url('../../../assets/images/icons/user-icon.png') center left no-repeat;
            padding-left: 35px;
        }
        .notification-wrapper {
            background: $basic-yellow;
            padding-right: 18px;
            .last-login-wrapper {
                @include flex-basic();
                font-size: 14px;
                background: $white;
                height: 100%;
                padding-right: 18px;
            }
            .faq, .notification, .settings {
                margin-left: 18px;
                cursor: pointer;
            }
            .notification {
                position: relative;
                padding: 8px;
                @include flex-basic();
                .notification-count {
                    position: absolute;
                    background: $red;
                    color: $white;
                    font-family: $font-semi-bold;
                    top: 2px;
                    right: 0;
                    font-size: 12px;
                    border-radius: 50px;
                    min-width: 20px;
                    text-align: center;
                    padding: 1px 0;
                }
            }
        }
    }
    .header-nav-wrapper {
        height: 80px;
        header-nav {
            display: flex;
            height: 100%;
        }
    }
}
