<section class="header-wrapper">
    <div class="logo-container">
        <img src="assets/images/logo.png" alt="SBI Logo" [routerLink]="['sme']">
    </div>
    <div class="header-right">
        <div class="header-title-wrapper">
            <div class="username-wrapper" *ngIf="userInfo.user">Welcome {{userInfo.user.firstName}} | {{userInfo.user.pfId}}</div>
            <p-message *ngIf="message" severity="error" text="{{message}}"></p-message>
            <div class="notification-wrapper">
                <div class="last-login-wrapper" *ngIf="userInfo && userInfo.lastLoggedInDate">Last Login at {{userInfo.lastLoggedInDate | date:'MMM d, y - h:mm a' }}</div>
                <div class="faq">
                    <img src="assets/images/headerIcons/faqicon.png" alt="FAQ Icon" title="FAQ">
                </div>
                <div class="notification">
                    <img src="assets/images/headerIcons/notificationicon.png" alt="Notification Icon" title="Notification">
                    <!-- <div class="notification-count">85</div> -->
                </div>
                <!-- <div class="settings">
                    <img src="assets/images/headerIcons/logouticon.jpg" alt="Logout Icon" title="Logout" (click)="logout()">
                </div> -->
                <div class="settings">
                  <img src="assets/images/headerIcons/settings-icon.png" alt="Logout Icon" (click)="logout()">
                  <!-- <div class="notification-count">85</div> -->
              </div>
            </div>
        </div>
        <div class="header-nav-wrapper">
            <header-nav></header-nav>
        </div>
    </div>
</section>