@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.search-report-wrapper { 
  background: $white;
  @include border-radius(8px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  @include basic-shadow();
  max-width: 1366px;
  margin: 0 auto;
    .table-wrapper {
        padding: 0 20px 20px 20px;
    }
    .filter-wrapper {
      background: $basic-light-gray;
      margin: 0px 20px 10px 20px;
      padding: 35px 20px 20px 20px;
      @include flex-basic-from-end();
    }
    .send-report {
      color: $basic-blue;
    }
    .envelope {
      color: $basic-dark-blue;
    }
}