<section class="search-report-wrapper">
  <div class="content-top-wrapper">
    <div class="breadcrumb">
      <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
  </div>
  <div class="filter-wrapper">
    <button pButton type="button" class="clear-btn" label="Clear" (click)="dt.reset(); clearFilter()"></button>
  </div>
  <div class="table-wrapper">
    <p-dataTable [value]="reviewList" styleClass="borderless review-report-table" #dt>
      <p-column field="serNo" header="Sr.No" [style]="{'width':'60px'}"></p-column>

      <p-column field="inspectionType" [filter]="true" filterMatchMode="equals" header="Inspection Type">
        <ng-template pTemplate="filter" let-col>
          <label class="search-report-inspection-type-label">Inspection Type</label>
          <p-dropdown [(ngModel)]="selectedRange" [options]="inspectionTypeList" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="search-report-inspection-type"></p-dropdown>
        </ng-template>
        <ng-template pTemplate="body" let-row="rowData">
            {{ row.inspectionType }}
        </ng-template>
      </p-column>
      <p-column field="losNum" [filter]="true" header="Loan Number" styleClass="search-report-losnum">
        <ng-template pTemplate="header">LOS Number
          <span class="search-report-losnum-label">LOS Number</span>
        </ng-template>
        <ng-template let-row="rowData" pTemplate="body">
          <span *ngIf="row.losNum">{{row.losNum}}</span>
          <span *ngIf="!row.losNum">NA</span>
        </ng-template>
      </p-column>
      <p-column field="borrowerUnitName" [filter]="true" header="Unit Name" styleClass="search-report-unitname">
          <ng-template pTemplate="header">Unit Name
              <span class="search-report-unitname-label">Unit Name</span>
            </ng-template>
      </p-column>
      <p-column field="inspectionDate" [filter]="true" header="Date of Inspection">
        <ng-template pTemplate="filter" let-col>
          <label class="search-report-data-range-label">Date Range</label>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true" styleClass="search-report-data-range" (onSelect)="selectDateRange()"></p-calendar>
        </ng-template>
        <ng-template let-row="rowData" pTemplate="body">
          <span *ngIf="row.inspectionDate != 0">{{row.inspectionDate | date:'dd-MM-yyyy'}}</span>
          <span *ngIf="row.inspectionDate == 0">NA</span>
        </ng-template>
      </p-column>
      <p-column field="branchCode" [filter]="true" header="Branch Code" styleClass="search-report-branch-code">
          <ng-template pTemplate="header">Branch Code
              <span class="search-report-branch-code-label">Branch Code</span>
            </ng-template>
      </p-column>
      <p-column field="inspectorPfId" [filter]="true" header="PF ID of FO" styleClass="search-report-pfid">
          <ng-template pTemplate="header">PF ID of FO
              <span class="search-report-pfid-label">PF ID of FO</span>
            </ng-template>
      </p-column>
      <p-column header="Email Report">
        <ng-template let-row="rowData" pTemplate="body">
          <i class="fa fa-envelope envelope" aria-hidden="true"></i>
          <a href="#" class="send-report">Send Report</a>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'181px'}" header="Details">
        <ng-template let-los="rowData" pTemplate="body">
          <button class="basic-btn transparent" label="View" type="button" pButton (click)="viewReport(los)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</section>
<router-outlet></router-outlet>