<section class="popup-key-person-wrapper" *ngIf="guarantorDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Guarantor Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td>{{guarantorDetail.firstName}}</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>{{guarantorDetail.middleName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{guarantorDetail.lastName}}</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td>{{guarantorDetail.realtiveSalutation}}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{guarantorDetail.relativeFirstName}}</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>{{guarantorDetail.relativeMiddleName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{guarantorDetail.relativeLastName}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{guarantorDetail.plotBuildingFlatNum}}</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{guarantorDetail.address1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{guarantorDetail.address2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{guarantorDetail.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{guarantorDetail.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{guarantorDetail.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{guarantorDetail.blockTesilSubdistrict}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{guarantorDetail.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{guarantorDetail.pinCode}}</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td>{{guarantorDetail.mobileNum}}</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td>{{guarantorDetail.landNum}}</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td>{{guarantorDetail.email}}</td> 
        </tr>
      </table>
    </div>
  </div>
   <div *ngIf="noData" class="no-data">
        <p class="title">No Guarantor Details Found</p>
        <p class="sub-title">Guarantor Details not added</p>
  </div>
</section>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->