<section class="popup-unit-detail-wrapper" *ngIf="unitDetails">
  <div class="popup-detail-section">
    <div class="detail-title">Unit Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Name of Unit</td>
          <td *ngIf="unitDetails.nameOfUnit">{{unitDetails.nameOfUnit}}</td>
          <td *ngIf="!unitDetails.nameOfUnit">NA</td>
        </tr>
        <tr>
          <td>Activity of Unit</td>
          <td *ngIf="unitDetails.activityOfUnit">{{unitDetails.activityOfUnit}}</td>
          <td *ngIf="!unitDetails.activityOfUnit">NA</td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td *ngIf="unitDetails.constitution">{{unitDetails.constitution}}</td>
          <td *ngIf="!unitDetails.constitution">NA</td>
        </tr>
        <tr>
          <td>Date of Establishment</td>
          <td *ngIf="unitDetails.dateOfEstablishTS">{{unitDetails.dateOfEstablishTS | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="!unitDetails.dateOfEstablishTS">NA</td>
        </tr>
        <tr>
          <td>Pan Number</td>
          <td *ngIf="unitDetails.panTan">{{unitDetails.panTan}}</td>
           <td *ngIf="!unitDetails.panTan">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td *ngIf="unitDetails.plotBuildingFlatNum">{{unitDetails.plotBuildingFlatNum}}</td>
          <td *ngIf="!unitDetails.plotBuildingFlatNum">NA</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td *ngIf="unitDetails.addressLine1">{{unitDetails.addressLine1}}</td>
          <td *ngIf="!unitDetails.addressLine1">NA</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td *ngIf="unitDetails.addressLine2">{{unitDetails.addressLine2}}</td>
          <td *ngIf="!unitDetails.addressLine2">NA</td>
        </tr>
        <tr>
          <td>State</td>
          <td *ngIf="unitDetails.state">{{unitDetails.state}}</td>
          <td *ngIf="!unitDetails.state">NA</td>
        </tr>
        <tr>
          <td>City</td>
          <td *ngIf="unitDetails.city">{{unitDetails.city}}</td>
          <td *ngIf="!unitDetails.city">NA</td>
        </tr>
        <tr>
          <td>District</td>
          <td *ngIf="unitDetails.district">{{unitDetails.district}}</td>
          <td *ngIf="!unitDetails.district">NA</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td *ngIf="unitDetails.blockTehsilSubdistrict">{{unitDetails.blockTehsilSubdistrict}}</td>
          <td *ngIf="!unitDetails.blockTehsilSubdistrict">NA</td>
        </tr>
        <tr>
          <td>Village</td>
          <td *ngIf="unitDetails.village">{{unitDetails.village}}</td>
          <td *ngIf="!unitDetails.village">NA</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td *ngIf="unitDetails.pinCode">{{unitDetails.pinCode}}</td>
          <td *ngIf="!unitDetails.pinCode">NA</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td *ngIf="unitDetails.mobileNum">{{unitDetails.mobileNum}}</td>
          <td *ngIf="!unitDetails.mobileNum">NA</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td *ngIf="unitDetails.landlineNum">{{unitDetails.landlineNum}}</td>
          <td *ngIf="!unitDetails.landlineNum">NA</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td *ngIf="unitDetails.emailId">{{unitDetails.emailId}}</td>
          <td *ngIf="!unitDetails.emailId">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <!--<div class="button-wrapper">
    <button type="button" class="basic-btn dark-blue popup-next-btn" (click) ="next()" pButton label="Next">
      <i class="fa fa-angle-right right-arrow"></i>
    </button>
  </div>-->
</section>
  <div *ngIf="noData" class="no-data">
        <p class="title">No Unit Details Found</p>
        <p class="sub-title">Unit Details not added</p>
  </div>