<div class="popup-detail-section">
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Inspection Status</td>
        <td><span class="bubble {{loanStatus}}"></span>{{loanStatus}}</td>
      </tr>
      <tr>
        <td class="reviewer-label">Reviewer Comments</td>
          <td>
            <textarea readonly [(ngModel)]="comments"></textarea>
          </td>
      </tr>
    </table>
    </div>
    </div>
    <div class="button-wrapper">
          <div class="input-row-wrapper error-wrapper" *ngIf="message">
        <div class="message-wrapper">
          <p-message severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
      </div>
        </div>