@import '../../../../../../assets/styles/variables.scss';
@import '../../../../../../assets/styles/mixins.scss';

.button-wrapper {
  padding: 20px 0;
  justify-content: center !important;
}
.detail-table-wrapper {
  table {
    tr {
      border: none !important;
      td {
        &:first-child {
          width: 200px !important;
        }
        textarea {
          width: 100% !important;
        }
      }
    }
  }
} 
.error-wrapper {
  padding: 0 !important;
}
.reviewer-label {
  vertical-align: top;
}
.bubble {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  @include border-radius(10px);
  &.WebIncomplete, &.MobIncomplete, &.Incomplete, &.PendingForReview, .Review {
    background: $basic-yellow;
  }
  &.Approved {
    background: green;
  }
  &.Rejected {
    background: $red;
  }
}
