<div class="footer-nav">
    <!-- <ul>
        <li><a href="#">Privacy Security</a></li>
        <li><a href="#">Website usage terms</a></li>
        <li><a href="#">Glossary</a></li>
        <li><a href="#">Important notices</a></li>
        <li><a href="#">Our corporate commitment</a></li>
        <li><a href="#">Learning center</a></li>
        <li><a href="#">Sitemap</a></li>
    </ul> -->
</div>