@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.footer-nav {
    @include flex-basic();
    background: $basic-light-blue;
    //height: 50px;
    height: 12px;
    justify-content: flex-start;
    padding: 0 20px;
    ul {
        @include flex-basic();
    }
}