<div *ngIf="responseError" class="error-msg-new">
    <p-message class="error-msg" severity="error" text="{{responseError}}"></p-message>
</div>
<section class="presanction-list-wrapper">
    <h3 *ngIf= "!listIstoHide">List of Inspections</h3>
    <div class="list-view-wrapper" *ngIf= "!listIstoHide">
        <ul>
            <li *ngFor="let los of searchLosList">
                <a (click)="selectLOS(los)">
                    <span class="los-number">
                        <label>Unit: </label>{{los.borrowerUnitId}}</span>
                    <span class="unit-name">
                        <label>LOS: </label>{{los.accountNum}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="list-view-wrapper" *ngIf= "responseMessage">
    <p-message *ngIf= "responseMessage" class="error-msg" severity="error" text="{{responseMessage}}"></p-message>
    </div>
</section>