<div class="popup-detail-section" *ngIf="comments">
  <div class="detail-title">Comments Details</div>
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Application Sourced by</td>
        <td>{{comments.applicationSource}}</td>
      </tr>
      <tr>
        <td>Others</td>
        <td>{{comments.otherSource}}</td>
      </tr>
      <tr>
        <td>Comments on Activity of file/company verified</td>
        <td>{{comments.commentsOnActivity}}</td>
      </tr>
      <tr>
        <td>Comments about the general working of the company/firm</td>
        <td>{{comments.commentOnGeneralWorkFirm}}</td>
      </tr>
      <tr>
        <td>Data Collection, if any</td>
        <td>{{comments.commentsOnDataCollection}}</td>
      </tr>
      <tr>
        <td>Remarkable points discussed with the borrower</td>
        <td>{{comments.remarkablePointFromBorrower}}</td>
      </tr>
      <tr>
        <td>Position of satutory, Environmental clearances etc</td>
        <td>{{comments.positionOfStatutoryDues}}</td>
      </tr>
      <tr>
        <td>Name of accompanying official</td>
        <td>{{comments.nameOfAccompanyingOfficial}}</td>
      </tr>
    </table>
  </div>
</div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->