<section class="review-report-wrapper">
    <div class="content-top-wrapper">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
    </div>
    <div class="table-wrapper">
        <p-dataTable [value]="reviewList" styleClass="borderless review-report-table">
            <p-column field="serNo" header="No:" [style]="{'width':'60px'}"></p-column>
            <p-column field="losNum" header="LOS NO.">
                <ng-template let-row="rowData" pTemplate="body">
                    {{row.losNum}}
                    <span *ngIf="!row.losNum">NA</span>
                </ng-template>
            </p-column>
            <p-column field="inspectionId" header="DIA Reference ID"></p-column>
            <p-column field="borrowerUnitName" header="Unit Name"></p-column>
            <p-column field="inspectionType" header="Inspection Type"></p-column>
            <p-column field="inspectorPfId" header="PF ID of FO"></p-column>
            <p-column field="inspectionDate" header="Date of Submission">
                <ng-template let-row="rowData" pTemplate="body">
                    <span *ngIf="row.inspectionDate != 0">{{row.inspectionDate | date:'dd-MM-yyyy'}}</span>
                    <span *ngIf="row.inspectionDate == 0">NA</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'181px'}">
                <ng-template let-los="rowData" pTemplate="body">
                    <button class="basic-btn transparent" label="Click to Review" type="button" pButton (click)="viewReport(los)"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</section>
<router-outlet></router-outlet>