<div class="popup-detail-section" *ngIf="comments">
  <div class="detail-title">Comments Details</div>
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Application Sourced by</td>
        <td *ngIf="comments.applicationSource">{{comments.applicationSource}}</td>
        <td *ngIf="!comments.applicationSource">NA</td>
      </tr>
      <tr>
        <td>Others</td>
        <td *ngIf="comments.otherSource">{{comments.otherSource}}</td>
        <td *ngIf="!comments.otherSource">NA</td>
      </tr>
      <tr>
        <td>Comments on Activity of file/company verified</td>
        <td *ngIf="comments.commentsOnActivity">{{comments.commentsOnActivity}}</td>
        <td *ngIf="!comments.commentsOnActivity">NA</td>
      </tr>
      <tr>
        <td>Comments about the general working of the company/firm</td>
        <td *ngIf="comments.commentOnGeneralWorkFirm">{{comments.commentOnGeneralWorkFirm}}</td>
        <td *ngIf="!comments.commentOnGeneralWorkFirm">NA</td>
      </tr>
      <tr>
        <td>Data Collection, if any</td>
        <td *ngIf="comments.commentsOnDataCollection">{{comments.commentsOnDataCollection}}</td>
        <td *ngIf="!comments.commentsOnDataCollection">NA</td>
      </tr>
      <tr>
        <td>Remarkable points discussed with the borrower</td>
        <td *ngIf="comments.remarkablePointFromBorrower">{{comments.remarkablePointFromBorrower}}</td>
        <td *ngIf="!comments.remarkablePointFromBorrower">NA</td>
      </tr>
      <tr>
        <td>Position of satutory, Environmental clearances etc</td>
        <td *ngIf="comments.positionOfStatutoryDues">{{comments.positionOfStatutoryDues}}</td>
        <td *ngIf="!comments.positionOfStatutoryDues">NA</td>
      </tr>
      <tr>
        <td>Name of accompanying official</td>
        <td *ngIf="comments.nameOfAccompanyingOfficial">{{comments.nameOfAccompanyingOfficial}}</td>
        <td *ngIf="!comments.nameOfAccompanyingOfficial">NA</td>
      </tr>
    </table>
  </div>
</div>
  <div *ngIf="noData" class="no-data">
        <p class="title">No Details Found</p>
        <p class="sub-title">Comments not added</p>
  </div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->