<section class="presanction-inspection-wrapper">
    <p-dataTable class="inspection-status" [value]="rejectedList" sortMode="multiple" styleClass="borderless" [globalFilter]="gb"
        #dt>
        <p-column field="inspectionId" [filter]="true" header="DIA Reference ID" [sortable]="true" filterPlaceholder="Search DIA Reference ID"
            styleClass="search-refid"></p-column>
        <p-column field="losNum" header="LOS NO." [filter]="true" [sortable]="true" filterPlaceholder="Search LOS NO.">
            <ng-template let-row="rowData" pTemplate="body">
                {{row.losNum}}
                <span *ngIf="!row.losNum">NA</span>
            </ng-template>
        </p-column>
        <p-column field="inspectionDate" header="Inspection Date" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                <span *ngIf="row.inspectionDate != 0 && row.inspectionDate">{{row.inspectionDate | date:'dd-MM-yyyy'}}</span>
                <span *ngIf="row.inspectionDate == 0 || !row.inspectionDate">NA</span>
            </ng-template>
        </p-column>
        <p-column field="reviewDate" header="Date of Review" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                <span *ngIf="row.reviewDate != 0 && row.reviewDate">{{row.reviewDate | date:'dd-MM-yyyy'}}</span>
                <span *ngIf="row.reviewDate == 0 || !row.reviewDate">NA</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'190px'}" field="reviewStatus" header="Review Status" [filter]="true" filterMatchMode="equals"
            styleClass="reviewStatus">
            <ng-template pTemplate="filter" let-col>
                <span class="dropdown-filter-label">Status</span>
                <p-dropdown [disabled]="isDisabled" [options]="reviewStatus" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                    styleClass="ui-column-filter"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="body" let-row="rowData">
                <span class="{{row.reviewStatus}}"></span>{{ row.reviewStatus }}
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'190px'}" field="reviewComment" [sortable]="true" header="Comments" styleClass="comment-column">
            <ng-template let-col="rowData" pTemplate="body">
                <span *ngIf="col.reviewComment" pTooltip="{{col.reviewComment}}" tooltipPosition="left">{{[col.reviewComment]}}</span>
                <span *ngIf="!col.reviewComment" pTooltip="{{col.reviewComment}}" tooltipPosition="left">NA</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'110px'}">
            <ng-template pTemplate="header">Details</ng-template>
            <ng-template let-los="rowData" pTemplate="body">
                <button class="basic-btn transparent" label="View" type="button" pButton (click)="viewLOS(los)"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</section>