@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.presanction-inspection-wrapper {
    //padding-top: 53px !important;
}
.Accepted, .PendingForReview, .Rejected, .Review {
    display: inline-block;
    width: 12px;
    height: 12px;
    @include border-radius(10px);
    margin-right: 5px; 
}
.Accepted {
    background: green;
}
.PendingForReview, .Review {
    background: $basic-yellow;
}
.Rejected {
    background: $red;
}


