@import '../../../../../assets/styles/variables.scss';
@import '../../../../../assets/styles/mixins.scss';

.guarantor-detail-wrapper {
    border-top: 1px solid $basic-gray;
    margin-top: 15px;
    .message-wrapper {
        flex-grow: 1;
        margin-right: 20px;
    }
}
    