<section class="guarantor-detail-wrapper">
    <p-accordion>
        <p-accordionTab *ngFor="let guarantorDetails of guarantorList; let i = index">
            <p-header (click)="tabHeaderClick(i)">
                Guarantor Details {{i+1}}
            </p-header>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Select Salutation*</label>
                    <p-dropdown [options]="salutation" [disabled]="!isLoanEditable || (guarantorDetails.salutationStatus == 'LOS' || guarantorDetails.salutationStatus == 'Mob')" name="salutation" [(ngModel)]="guarantorDetails.salutation" placeholder="Gender"></p-dropdown>
                </div>
                <div class="input-wrapper">
                    <label>First Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.firstNameStatus == 'LOS' || guarantorDetails.firstNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.firstName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'First Name')" (blur)="onBlurValidation(guarantorDetails.firstName, 'First Name')">
                    <span class="validation-msg" *ngIf="firstNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="firstNameVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Middle Name</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.middleNameStatus == 'LOS' || guarantorDetails.middleNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.middleName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Middle Name')" (blur)="onBlurValidation(guarantorDetails.middleName, 'Middle Name')">
                    <span class="validation-msg" *ngIf="middleNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="middleNameVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Last Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.lastNameStatus == 'LOS' || guarantorDetails.lastNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.lastName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Last Name')" (blur)="onBlurValidation(guarantorDetails.lastName, 'Last Name')">
                    <span class="validation-msg" *ngIf="lastNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="lastNameVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Relationship with firm*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.realtiveSalutationStatus == 'LOS' || guarantorDetails.realtiveSalutationStatus == 'Mob')" [(ngModel)]="guarantorDetails.realtiveSalutation" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Relationship')" (blur)="onBlurValidation(guarantorDetails.realtiveSalutation, 'Relationship')">
                    <span class="validation-msg" *ngIf="relationshipValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="relationshipVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>First Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.relativeFirstNameStatus == 'LOS' || guarantorDetails.relativeFirstNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.relativeFirstName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'First Name 2')" (blur)="onBlurValidation(guarantorDetails.relativeFirstName, 'First Name 2')">
                    <span class="validation-msg" *ngIf="firstName2ValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="firstName2Val">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Middle Name</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.relativeMiddleNameStatus == 'LOS' || guarantorDetails.relativeMiddleNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.relativeMiddleName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Middle Name 2')" (blur)="onBlurValidation(guarantorDetails.relativeMiddleName, 'Middle Name 2')">
                    <span class="validation-msg" *ngIf="middleName2ValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="middleName2Val">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Last Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.relativeLastNameStatus == 'LOS' || guarantorDetails.relativeLastNameStatus == 'Mob')" [(ngModel)]="guarantorDetails.relativeLastName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Last Name 2')" (blur)="onBlurValidation(guarantorDetails.relativeLastName, 'Last Name 2')">
                    <span class="validation-msg" *ngIf="lastName2ValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="lastName2Val">{{utilsService.validString}}</span>
                  </div>
            </div>
            <div class="subtitle">
                <h3>Address</h3>
            </div>
            <div class="checkbox-wrapper checkbox">
                <p-checkbox [(ngModel)]="guarantorDetails.checked" [disabled]="!isLoanEditable" label="Same as registered address of Unit" binary="true" (click)="sameAddress(i);"></p-checkbox>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Plot/Building/Flat No*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.plotBuildingFlatNumStatus == 'LOS' || guarantorDetails.plotBuildingFlatNumStatus == 'Mob')" [(ngModel)]="guarantorDetails.plotBuildingFlatNum" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 1*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.address1Status == 'LOS' || guarantorDetails.address1Status == 'Mob')" [(ngModel)]="guarantorDetails.address1" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 2*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.address2Status == 'LOS' || guarantorDetails.address2Status == 'Mob')" [(ngModel)]="guarantorDetails.address2" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>State*</label>
                    <p-dropdown [options]="states" [disabled]="!isLoanEditable || (guarantorDetails.stateStatus == 'LOS' || guarantorDetails.stateStatus == 'Mob')" name="state" [(ngModel)]="guarantorDetails.state" placeholder="Select a State"></p-dropdown>
                </div>
                <div class="input-wrapper">
                    <label>City*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.cityStatus == 'LOS' || guarantorDetails.cityStatus == 'Mob')" [(ngModel)]="guarantorDetails.city" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(guarantorDetails.city, 'City')">
                    <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>District</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.districtStatus == 'LOS' || guarantorDetails.districtStatus == 'Mob')" [(ngModel)]="guarantorDetails.district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(guarantorDetails.district, 'District')">
                    <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Block/Tehsil/Sub-District</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.blockTesilSubdistrictStatus == 'LOS' || guarantorDetails.blockTesilSubdistrictStatus == 'Mob')" [(ngModel)]="guarantorDetails.blockTesilSubdistrict" maxlength="21" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(guarantorDetails.blockTesilSubdistrict, 'Block')">
                    <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Village</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.villageStatus == 'LOS' || guarantorDetails.villageStatus == 'Mob')" [(ngModel)]="guarantorDetails.village" maxlength="22" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(guarantorDetails.village, 'Village')">
                    <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Pincode*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.pinCodeStatus == 'LOS' || guarantorDetails.pinCodeStatus == 'Mob')" [(ngModel)]="guarantorDetails.pinCode" maxlength="6" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(guarantorDetails.pinCode, 'Pincode')">
                    <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Mobile Number*</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.mobileNumStatus == 'LOS' || guarantorDetails.mobileNumStatus == 'Mob')" [(ngModel)]="guarantorDetails.mobileNum" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Mobile')" (blur)="onBlurValidation(guarantorDetails.mobileNum, 'Mobile')">
                    <span class="validation-msg" *ngIf="mobileValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="mobileVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Landline Number</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.landNumStatus == 'LOS' || guarantorDetails.landNumStatus == 'Mob')" [(ngModel)]="guarantorDetails.landNum" maxlength="20" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Landline')" (blur)="onBlurValidation(guarantorDetails.landNum, 'Landline')">
                    <span class="validation-msg" *ngIf="landlineValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="landlineVal">{{utilsService.validString}}</span>
                </div>
                <div class="input-wrapper">
                    <label>Email ID</label>
                    <input type="text" [disabled]="!isLoanEditable || (guarantorDetails.emailStatus == 'LOS' || guarantorDetails.emailStatus == 'Mob')" [(ngModel)]="guarantorDetails.email" maxlength="40">
                </div>
            </div>
            <div class="input-row-wrapper  last-row">
                <div class="message-wrapper">
                    <p-message *ngIf="guarantorDetails.message" severity="{{statusMsg}}" text="{{guarantorDetails.message}}"></p-message>
                </div>
                <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addGuarantorDetail();"></button>
            </div>

        </p-accordionTab>
    </p-accordion>
    <div *ngIf="noData" class="no-data">
        <p class="title">No Guarantor Details Found</p>
        <p class="sub-title">Please add Guarantor in Unit Details</p>
    </div>

</section>