<section class="popup-contact-person-wrapper" *ngIf="contactPersonDetails">
  <div class="popup-detail-section">
    <div class="detail-title">Contact Person Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td>{{contactPersonDetails.firstName}}</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>{{contactPersonDetails.middleName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{contactPersonDetails.lastName}}</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td>{{contactPersonDetails.relationshipWithFirm}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{contactPersonDetails.plotBuildingFlatNum}}</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{contactPersonDetails.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{contactPersonDetails.addressLine2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{contactPersonDetails.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{contactPersonDetails.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{contactPersonDetails.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{contactPersonDetails.blockTehsilSubdistrict}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{contactPersonDetails.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{contactPersonDetails.pinCode}}</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td>{{contactPersonDetails.mobileNum}}</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td>{{contactPersonDetails.landlineNum}}</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td>{{contactPersonDetails.emailId}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->