<footer>
    <footer-nav></footer-nav>
    <div class="footer-bottom">
        <div class="copyright">&copy; State Bank of India</div>
        <div class="version">Ver 1.0.10</div>
    </div>
</footer>