@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

footer {
    @include flex-basic();
    justify-content: flex-start;
    //height: 110px;
    height: 48px;
    background: $basic-dark-blue;
    //margin: 0px -20px 0 -20px;
    font-size: 12px;
    .footer-bottom {
        @include flex-basic();
        justify-content: space-between;
        height: 60px;
        width: 100%;
        .copyright, .version {
            padding: 0 20px;
        }
        .copyright {
            color: $white;
        }
        .version {
            color: $basic-blue;
        }
        
    }
}