<div class="popup-detail-section">
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Review Inspection*</td>
        <td>
          <p-radioButton name="group1"  value="1"  label="Approve Inspection" [(ngModel)]="reviewStatus"></p-radioButton>
            <p-radioButton name="group1"  value="0"  label="Reject Inspection" [(ngModel)]="reviewStatus"  styleClass="reject-inspection"></p-radioButton>
        </td>
      </tr>
      <tr>
        <td class="reviewer-label">Reviewer Comments*</td>
          <td>
            <textarea [(ngModel)]="comments"></textarea>
          </td>
      </tr>
    </table>
    </div>
    </div>
    <div class="button-wrapper">
          <div class="input-row-wrapper error-wrapper" *ngIf="message">
        <div class="message-wrapper">
          <p-message severity="{{statusMsg}}" text="{{message}}"></p-message>
        </div>
      </div>
      <button type="button"  class="basic-btn dark-blue"  pButton label="Submit" (click)="submitReview()"></button>
        </div>