.button-wrapper {
  padding: 20px 0;
  justify-content: center !important;
}
.detail-table-wrapper {
  table {
    tr {
      border: none !important;
      td {
        &:first-child {
          width: 200px !important;
        }
        textarea {
          width: 100% !important;
        }
      }
    }
  }
} 
.error-wrapper {
  padding: 0 !important;
}
.reviewer-label {
  vertical-align: top;
}
