<section class="popup-contact-person-wrapper" *ngIf="contactPersonDetails">
  <div class="popup-detail-section">
    <div class="detail-title">Contact Person Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td *ngIf="contactPersonDetails.firstName">{{contactPersonDetails.firstName}}</td>
          <td *ngIf="!contactPersonDetails.firstName">NA</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td *ngIf="contactPersonDetails.middleName">{{contactPersonDetails.middleName}}</td>
          <td *ngIf="!contactPersonDetails.middleName">NA</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td *ngIf="contactPersonDetails.lastName">{{contactPersonDetails.lastName}}</td>
          <td *ngIf="!contactPersonDetails.lastName">NA</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td *ngIf="contactPersonDetails.relationshipWithFirm">{{contactPersonDetails.relationshipWithFirm}}</td>
          <td *ngIf="!contactPersonDetails.relationshipWithFirm">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td *ngIf="contactPersonDetails.plotBuildingFlatNum">{{contactPersonDetails.plotBuildingFlatNum}}</td>
          <td *ngIf="!contactPersonDetails.plotBuildingFlatNum">NA</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td *ngIf="contactPersonDetails.addressLine1">{{contactPersonDetails.addressLine1}}</td>
          <td *ngIf="!contactPersonDetails.addressLine1">NA</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td *ngIf="contactPersonDetails.addressLine2">{{contactPersonDetails.addressLine2}}</td>
          <td *ngIf="!contactPersonDetails.addressLine2">NA</td>
        </tr>
        <tr>
          <td>State</td>
          <td *ngIf="contactPersonDetails.state">{{contactPersonDetails.state}}</td>
          <td *ngIf="!contactPersonDetails.state">NA</td>
        </tr>
        <tr>
          <td>City</td>
          <td *ngIf="contactPersonDetails.city">{{contactPersonDetails.city}}</td>
          <td *ngIf="!contactPersonDetails.city">NA</td>
        </tr>
        <tr>
          <td>District</td>
          <td *ngIf="contactPersonDetails.district">{{contactPersonDetails.district}}</td>
          <td *ngIf="!contactPersonDetails.district">NA</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td *ngIf="contactPersonDetails.blockTehsilSubdistrict">{{contactPersonDetails.blockTehsilSubdistrict}}</td>
          <td *ngIf="!contactPersonDetails.blockTehsilSubdistrict">NA</td>
        </tr>
        <tr>
          <td>Village</td>
          <td *ngIf="contactPersonDetails.village">{{contactPersonDetails.village}}</td>
          <td *ngIf="!contactPersonDetails.village">NA</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td *ngIf="contactPersonDetails.pinCode">{{contactPersonDetails.pinCode}}</td>
          <td *ngIf="!contactPersonDetails.pinCode">NA</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td *ngIf="contactPersonDetails.mobileNum">{{contactPersonDetails.mobileNum}}</td>
          <td *ngIf="!contactPersonDetails.mobileNum">NA</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td *ngIf="contactPersonDetails.landlineNum">{{contactPersonDetails.landlineNum}}</td>
          <td *ngIf="!contactPersonDetails.landlineNum">NA</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td *ngIf="contactPersonDetails.emailId">{{contactPersonDetails.emailId}}</td>
          <td *ngIf="!contactPersonDetails.emailId">NA</td>
        </tr>
      </table>
    </div>
  </div>
</section>
  <div *ngIf="noData" class="no-data">
        <p class="title">No Details Found</p>
        <p class="sub-title">Contact Person Details not added</p>
  </div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->