<section class="popup-collateral-detail-wrapper">
  <div class="popup-detail-section" *ngIf="collateralDetail">
    <div class="detail-title">Collateral Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{collateralDetail.building_no}}</td>
        </tr>
        <tr>
          <td>Date Of Visit</td>
          <td *ngIf="collateralDetail.dateOfInspectionTS != 0">{{collateralDetail.dateOfInspectionTS | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="collateralDetail.dateOfInspectionTS == 0"></td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{collateralDetail.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{collateralDetail.addressLine2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{collateralDetail.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{collateralDetail.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{collateralDetail.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{collateralDetail.sub_district}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{collateralDetail.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{collateralDetail.pinCode}}</td>
        </tr>
        <tr>
          <td>Comments</td>
          <td>{{collateralDetail.comments}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="noData" class="no-data">
    <p class="title">No Collateral Details Found</p>
    <p class="sub-title">Collateral Details not added</p>
  </div>
  <div class="popup-detail-section" *ngIf="images && images.length > 0">
    <div class="detail-title">Location Images</div>
    <div class="detail-table-wrapper gallery-wrapper">
      <p-galleria [images]="images" panelWidth="600" panelHeight="400" [frameWidth]="80" [frameHeight]="60" showCaption="true"></p-galleria>
    </div>
  </div>

  <!--<div class="button-wrapper">
    <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
      <i class="fa fa-angle-left left-arrow"></i>
    </button>
    <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
      <i class="fa fa-angle-right right-arrow"></i>
    </button>
  </div>-->
</section>