<spinner></spinner>
<section class="main-wrapper">
  <dia-header></dia-header>
  <section id="bg-image" class="content-wrapper bg-image" [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
    <!-- <section id="bg-image" class="content-wrapper bg-image"> -->
    <section class="detail">
      <router-outlet></router-outlet>
    </section>
  </section>
  <dia-footer></dia-footer>
</section>