<div class="popup-detail-section" *ngFor="let liability of liabilityList; let i = index">
  <div class="detail-title">Present Liabilities {{i + 1}}</div>
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Liabilities of SBI Exist</td>
        <td *ngIf="liability.liabilityExist == 0">No</td>
        <td *ngIf="liability.liabilityExist == 1">Yes</td>
        <td *ngIf="liability.liabilityExist == 2">NA</td>
      </tr>
      <tr>
        <td>Date of Sanction</td>
        <td>{{liability.dateOfSanctionTS | date:'dd-MM-yyyy'}}</td>
      </tr>
      <tr>
        <td>Type of Facility</td>
        <td>{{liability.facilityType}}</td>
      </tr>
      <tr>
        <td>Other Loans</td>
        <td>{{liability.others}}</td>
      </tr>
      <tr>
        <td>Account No</td>
        <td>{{liability.accountNumber}}</td>
      </tr>
      <tr>
        <td>Limit Sanctioned</td>
        <td>{{liability.limitSanction | currency:"₹"}}</td>
      </tr>
      <tr>
        <td>Market Value</td>
        <td>{{liability.marketValue | currency:"₹"}}</td>
      </tr>
      <tr>
        <td>Advance Value</td>
        <td>{{liability.advancedValue | currency:"₹"}}</td>
      </tr>
      <tr>
        <td>Drawing Power</td>
        <td>{{liability.drawingPower | currency:"₹"}}</td>
      </tr>
      <tr>
        <td>Outstanding Amount</td>
        <td>{{liability.outstandingAmount | currency:"₹"}}</td>
      </tr>
    </table>
  </div>
</div>
   <div *ngIf="noData" class="no-data">
        <p class="title">No Present Liability Request Found</p>
        <p class="sub-title">Present Liability not added</p>
  </div>
  <!--<div class="button-wrapper">
    <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
      <i class="fa fa-angle-left left-arrow"></i>
    </button>
    <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
      <i class="fa fa-angle-right right-arrow"></i>
    </button>
  </div>-->