<section class="collateral-detail-wrapper">
    <p-accordion>
        <p-accordionTab *ngFor="let collateralDetails of collateralList; let i = index">
                <p-header (click)="tabHeaderClick(i, collateralDetails)">
                        Collateral Details {{i+1}}
                    </p-header>    
            <div class="input-row-wrapper">
                    <div class="checkbox-wrapper checkbox">
                        <label>
                                <p-checkbox [(ngModel)]="collateralDetails.checked" [disabled]="!isLoanEditable" label="Same as registered address of Unit" binary="true" (click)="sameAddress();"></p-checkbox>
                        </label>
                    </div>
                    <div class="parallel-label">
                        <label>Date of Visit*</label>
                        <p-calendar readonlyInput="true" [showIcon]="true" [disabled]="!isLoanEditable || (collateralDetails.dateOfInspectionTSStatus == 'LOS' || collateralDetails.dateOfInspectionTSStatus == 'Mob')" dateFormat="dd/mm/yy" [(ngModel)] = "collateralDetails.dateOfInspectionTSTemp"></p-calendar>
                    </div>
                </div>
                <div class="input-row-wrapper">
                    <div class="input-wrapper">
                        <label>Plot/Building/Flat No*</label>
                        <input type="text" name="building_no" [disabled]="!isLoanEditable" [(ngModel)]="collateralDetails.building_no" maxlength="20">
                    </div>
                    <div class="input-wrapper">
                        <label>Address Line 1*</label>
                        <input type="text" name="addressLine1" [disabled]="!isLoanEditable || (collateralDetails.addressLine1Status == 'LOS' || collateralDetails.addressLine1Status == 'Mob')" [(ngModel)]="collateralDetails.addressLine1" maxlength="20">
                    </div>
                    <div class="input-wrapper">
                        <label>Address Line 2*</label>
                        <input type="text" name="addressLine2" [disabled]="!isLoanEditable || (collateralDetails.addressLine2Status == 'LOS' || collateralDetails.addressLine2Status == 'Mob')" maxlength="20" [(ngModel)]="collateralDetails.addressLine2">
                    </div>
                    <div class="input-wrapper">
                        <label>State*</label>
                        <p-dropdown [options]="states" [disabled]="!isLoanEditable || (collateralDetails.stateStatus == 'LOS' || collateralDetails.stateStatus == 'Mob')" name="state" [(ngModel)]="collateralDetails.state" placeholder="Select a State"></p-dropdown>
                    </div>
                    <div class="input-wrapper">
                        <label>City*</label>
                        <input type="text" name="city" [disabled]="!isLoanEditable || (collateralDetails.cityStatus == 'LOS' || collateralDetails.cityStatus == 'Mob')" [(ngModel)]="collateralDetails.city" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(collateralDetails.city, 'City')">
                        <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
                        <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>District</label>
                        <input type="text" name="district" [disabled]="!isLoanEditable" [(ngModel)]="collateralDetails.district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(collateralDetails.district, 'District')">
                        <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>
                        <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>Block/Tehsil/Sub-District</label>
                        <input type="text" name="sub_district" [disabled]="!isLoanEditable" [(ngModel)]="collateralDetails.sub_district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(collateralDetails.sub_district, 'Block')">
                        <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
                        <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>Village</label>
                        <input type="text" name="village" [disabled]="!isLoanEditable" [(ngModel)]="collateralDetails.village" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(collateralDetails.village, 'Village')">
                        <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
                        <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>Pincode*</label>
                        <input type="text" name="pinCode" [disabled]="!isLoanEditable || (collateralDetails.pinCodeStatus == 'LOS' || collateralDetails.pinCodeStatus == 'Mob')" [(ngModel)]="collateralDetails.pinCode" maxlength="6" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(collateralDetails.pinCode, 'Pincode')">
                        <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
                        <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper">
                        <label>Mobile Number*</label>
                        <input type="text" name="mobile_number" [disabled]="!isLoanEditable" [(ngModel)]="collateralDetails.mobile_number" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Mobile')" (blur)="onBlurValidation(collateralDetails.mobile_number, 'Mobile')">
                        <span class="validation-msg" *ngIf="mobileValBlur">{{onlyNumber}}</span>
                        <span class="validation-msg" *ngIf="mobileVal">{{utilsService.validString}}</span>
                    </div>
                    <div class="input-wrapper zero-margin">
                        <label>Comments</label>
                        <input type="text" name="comments" [disabled]="!isLoanEditable" maxlength="150" (keypress)="utilsService.blockNumber($event)" [(ngModel)]="collateralDetails.comments">
                    </div>
                </div>

                <div class="input-row-wrapper" *ngIf="galleryImagesSelfy && galleryImagesSelfy.length>0 || galleryImages && galleryImages.length>0">
                        <div class="input-wrapper" *ngIf="galleryImagesSelfy && galleryImagesSelfy.length>0">
                            <label>Selfie with Location</label>
                            <ngx-gallery [options]="galleryOptionsSelfy" [images]="galleryImagesSelfy"></ngx-gallery>
                        </div>
                        <div class="input-wrapper two-column" *ngIf="galleryImages && galleryImages.length>0">
                            <label>Location/Photo</label>
                            <!-- Gallery here -->
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </div>
                    </div>

                <div class="input-row-wrapper last-row">
                    <div class="message-wrapper">
                        <p-message *ngIf="collateralDetails.message" severity="{{statusMsg}}" text="{{collateralDetails.message}}"></p-message>
                    </div>
                    <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addCollateralDetail();"></button>
                </div>
        </p-accordionTab>
    </p-accordion>
    <div *ngIf="noData" class="no-data">
        <p class="title">No Collateral Details Found</p>
        <p class="sub-title">Please add Collateral Details from DIA Mobile application to complete inspection</p>
    </div>
    <div *ngIf="!noData" class="disclaimer">
        <span>Note: </span>To add new Collateral Details please initiate from mobile.</div>
</section>