<section class="manage-inspection-wrapper">
    <div class="content-top-wrapper">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
    </div>
    <div class="manage-inspection">
        <div class="sub-menu">
            <ul>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['manageReviewer']">Manage Reviewer</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['changeReviewer']">Change Reviewer</a>
                </li>
                <li>
                    <a [routerLinkActive]="['active']" [routerLink]="['manageAccountTransfer']">Manage Account Transfer</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</section>