@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.manage-inspection-wrapper {
    .manage-inspection {
        padding: 0 20px 20px 20px;
        .sub-menu {
            ul {
                @include flex-basic();
                justify-content: flex-start;
                background: $basic-dark-blue;
                font-family: $font-semi-bold;
                li {
                    border-right: 2px solid $white;
                    a {
                        @include flex-basic();
                        justify-content: flex-start;
                        color: $white !important;
                        width: 240px;
                        height: 44px;
                        padding: 0 15px;
                        text-transform: uppercase;
                        &:hover, &.active {
                            background: $basic-yellow;
                            color: $basic-dark-gray !important;
                        }
                    }
                    &:last-child {
                        border-right: none;
                    }            
                }
        
            }
        }
    }
}
