<section class="popup-key-person-wrapper" *ngIf="establishmentDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Establishment Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td *ngIf="establishmentDetail.building_no">{{establishmentDetail.building_no}}</td>
          <td *ngIf="!establishmentDetail.building_no">NA</td>
        </tr>
        <tr>
          <td>Date Of Visit</td>
          <td *ngIf="establishmentDetail.dateOfInspectionTS != 0">{{establishmentDetail.dateOfInspectionTS | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="establishmentDetail.dateOfInspectionTS == 0"></td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td *ngIf="establishmentDetail.addressLine1">{{establishmentDetail.addressLine1}}</td>
          <td *ngIf="!establishmentDetail.addressLine1">NA</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td *ngIf="establishmentDetail.addressLine2">{{establishmentDetail.addressLine2}}</td>
          <td *ngIf="!establishmentDetail.addressLine2">NA</td>
        </tr>
        <tr>
          <td>State</td>
          <td *ngIf="establishmentDetail.state">{{establishmentDetail.state}}</td>
          <td *ngIf="!establishmentDetail.state">NA</td>
        </tr>
        <tr>
          <td>City</td>
          <td *ngIf="establishmentDetail.city">{{establishmentDetail.city}}</td>
          <td *ngIf="!establishmentDetail.city">NA</td>
        </tr>
        <tr>
          <td>District</td>
          <td *ngIf="establishmentDetail.district">{{establishmentDetail.district}}</td>
          <td *ngIf="!establishmentDetail.district">NA</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td *ngIf="establishmentDetail.sub_district">{{establishmentDetail.sub_district}}</td>
          <td *ngIf="!establishmentDetail.sub_district">NA</td>
        </tr>
        <tr>
          <td>Village</td>
          <td *ngIf="establishmentDetail.village">{{establishmentDetail.village}}</td>
          <td *ngIf="!establishmentDetail.village">NA</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td *ngIf="establishmentDetail.pinCode">{{establishmentDetail.pinCode}}</td>
          <td *ngIf="!establishmentDetail.pinCode">NA</td>
        </tr>
        <tr>
          <td>Ownership</td>
          <td *ngIf="establishmentDetail.ownership">{{establishmentDetail.ownership}}</td>
          <td *ngIf="!establishmentDetail.ownership">NA</td>
        </tr>
        <tr>
          <td>Existing Activity</td>
          <td *ngIf="establishmentDetail.activity">{{establishmentDetail.activity}}</td>
          <td *ngIf="!establishmentDetail.activity">NA</td>
        </tr>
        <tr>
          <td>Proposed Activity</td>
          <td *ngIf="establishmentDetail.proposedActivity">{{establishmentDetail.proposedActivity}}</td>
          <td *ngIf="!establishmentDetail.proposedActivity">NA</td>
        </tr>
        <tr>
          <td>Details</td>
          <td *ngIf="establishmentDetail.comment">{{establishmentDetail.comment}}</td>
          <td *ngIf="!establishmentDetail.comment">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section" *ngIf="images.length > 0">
    <div class="detail-title">Location Images</div>
    <div class="detail-table-wrapper gallery-wrapper">
      <p-galleria [images]="images" panelWidth="600" panelHeight="400" [frameWidth]="80" [frameHeight]="60" showCaption="true"></p-galleria>
    </div>
  </div>
</section>
<div *ngIf="noData" class="no-data">
  <p class="title">No Establishment Details Found</p>
  <p class="sub-title">Establishment Details not added</p>
</div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->