<section class="popup-key-person-wrapper" *ngIf="keyPersonDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Key Person Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td>{{keyPersonDetail.firstName}}</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td>{{keyPersonDetail.middleName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{keyPersonDetail.lastName}}</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td>{{keyPersonDetail.relationshipWithFirm}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{keyPersonDetail.plotBuildingFlatNum}}</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{keyPersonDetail.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{keyPersonDetail.addressLine2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{keyPersonDetail.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{keyPersonDetail.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{keyPersonDetail.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{keyPersonDetail.blockTehsilSubdistrict}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{keyPersonDetail.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{keyPersonDetail.pinCode}}</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td>{{keyPersonDetail.mobileNum}}</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td>{{keyPersonDetail.landlineNum}}</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td>{{keyPersonDetail.emailId}}</td>
        </tr>
      </table>
    </div>
  </div>
     <div *ngIf="noData" class="no-data">
        <p class="title">No Key Person Details Found</p>
        <p class="sub-title">Key Person Details not added</p>
  </div>
</section>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->