<div class="popup-detail-section" *ngFor="let loanrequested of loanRequestedList; let i = index">
  <div class="detail-title">Particulars {{i + 1}}</div>
  <div class="detail-table-wrapper">
    <table>
      <tr>
        <td>Type of Loan Requested</td>
        <td>{{loanrequested.loanReqType}}</td>
      </tr>
      <tr>
        <td>Other Loan</td>
        <td>{{loanrequested.otherLoan}}</td>
      </tr>
      <tr>
        <td>Purpose of Loan</td>
        <td>{{loanrequested.purposeOfLoan}}</td>
      </tr>
      <tr>
        <td>Other Purpose of Loan</td>
        <td>{{loanrequested.otherPurposeOfLoan}}</td>
      </tr>
      <tr>
        <td>Limit Requested</td>
        <td>{{loanrequested.limitRequested | currency:"₹"}}</td>
      </tr>
    </table>
  </div>
</div>
   <div *ngIf="noData" class="no-data">
        <p class="title">No Loan Request Found</p>
        <p class="sub-title">Load Request not added</p>
  </div>
  <!--<div class="button-wrapper">
    <button type="button" class="basic-btn blue popup-previous-btn" (click)="back()" pButton label="Back">
      <i class="fa fa-angle-left left-arrow"></i>
    </button>
    <button type="button" class="basic-btn dark-blue popup-next-btn" (click)="next()" pButton label="Next">
      <i class="fa fa-angle-right right-arrow"></i>
    </button>
  </div>-->