<section class="presanction-detail">
    <section class="detail-aside-wrapper">
        <div *ngIf="!noLosNo" class="losnumber-wrapper">
            <div class="losunit">Unit: {{unitDetails.nameOfUnit}}</div>
            <div class="losnumber">DIA Ref. ID: {{refId}}</div>
            <div class="losnumber">Los No: {{losNum}}</div>
            
        </div>
        <div class="aside-nav-wrapper">
            <asideNav></asideNav>
        </div>
    </section>
    <section class="detail-content-wrapper">
        <div class="content-top-wrapper">
            <div class="breadcrumb">
                <p-breadcrumb [model]="items"></p-breadcrumb>
            </div>
            <div *ngIf="initiateDate" class="date-of-initiation">Date of Initiation: {{initiateDate | date:'dd-MM-yyyy'}}</div>
        </div>
        <router-outlet></router-outlet>
    </section>
</section>