@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

input {
    font-family: $font-regular;
    font-size: 16px;
    &[type=text] {
        border:1px solid $input-border;
        box-sizing: border-box;
    }
    &[type=number] {
        border:1px solid $input-border;
        box-sizing: border-box;
        padding: 0;
    }
}
select {
    width: 100%;
    box-sizing: border-box;
    border:1px solid $input-border;
}
.sme-section {
    padding: 0 20px;
    z-index: 2;
    //background: $basic-light-gray url('../../assets/images/sme-banner.png') center top no-repeat fixed;
    background-size: 100% auto;
}
// .sme-section-bg {
//     background: $basic-light-gray url('../../assets/images/sme-banner.png') center top no-repeat fixed;
//     background-size: 100% auto;
//     position: absolute;
//     width: 100%;
//     min-height: 50%;
//     max-height: 450px;
//     z-index: 0;
//     left: 0;
//     right: 0;
// }
h1 {
    justify-content: flex-start;
    margin: 40px 20px 80px 20px;
}

.content-top-wrapper {
    @include flex-basic-from-start();
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    .date-of-initiation {

    }
}

//Presanction New
.new-inspection-wrapper {
    @include flex-basic();
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px 20px 20px;
    .search-inspection-wrapper {
        h4 {
            color: $basic-dark-blue;
            line-height: 50px;
            display: inline-block;
            margin: 0 auto -23px auto;
            background: $white;
            font-size: 22px;
            z-index: 1;
            padding: 0 10px;
        }
    }
    .search-inspection-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .search-inspection {
            border: 1px solid $basic-light-gray;
            padding: 20px;
            font-size: 14px;
            .radio-btn-wrapper {
                font-size: 17px;
                margin-bottom: 10px;
                .ui-radiobutton {
                    margin-left: 10px !important;
                }

            }
            .search-input-wrapper {
                @include flex-basic();
                padding: 30px 0;
                justify-content: space-between;
                .input-wrapper {
                    display: flex;
                    flex-direction: column;
                }
                .or {
                    @include flex-basic();
                    background: $basic-light-gray;
                    height: 30px;
                    width: 30px;
                    @include border-radius(20px);
                    margin-top: 24px;
                }
            }
            .search-btn-wrapper {
                @include flex-basic();
                padding: 20px 0;
            }
            .search-container {
                width: 900px;
                margin: 30px auto 10px auto;
            }
        }
    }
}

//Presanction List
section {
    &.presanction-list-wrapper {
        padding:0 20px;
    h3 {
        @include flex-basic-from-start();
        font-family: $font-semi-bold;
    }
    .list-view-wrapper {
        padding: 20px 0;
        ul {
            @include flex-basic();
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
                padding: 0 20px 20px 0;
                a {
                    @include flex-basic();
                    border: 1px solid $basic-gray;
                    flex-direction: column;
                    border-radius: 4px;
                    padding: 0 20px;
                    width: 240px;
                    height: 100px;
                    background: $white url("../../assets/images/icons/list-view-arrow.png") 250px center no-repeat;
                    span {
                        width: 100%;
                        &.los-number {
                            font-family: $font-semi-bold;
                            color: $basic-dark-gray;
                            font-size: 17px;
                        }
                        &.unit-name {
                            color: $basic-gray;
                        }
                    }
                    &:hover {
                        background-color: $basic-light-blue;
                        @include basic-shadow();
                        span {
                            &.los-number {
                                color: $basic-dark-blue;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
}

.sme-content-wrapper {
    max-width: 1366px;
    margin: 0 auto;
}

//Presanction Incomplete
.presanction-incomplete-wrapper {
    padding: 20px;
}

//Presanction Inspection
.presanction-inspection-wrapper {
    padding: 20px;
}

//Presanction Detail
.presanction-detail {
    display: flex;
    .detail-aside-wrapper {
        @include flex-basic-from-start();
        flex-direction: column;
        .losnumber-wrapper {
            border-bottom: 2px solid $basic-gray;
            width: 220px;
            padding: 20px 0;
            .losnumber {
                color: $basic-gray;
                margin-top: 10px;
                font-size: 15px;
            }
            .losunit {
                color: $basic-dark-gray;
                font-family: $font-semi-bold;
            }
        }
        .aside-nav-wrapper {
            width: 240px;
            padding-top: 20px;
            z-index: 1;
        }
    }
    .detail-content-wrapper {
        @include flex-basic-from-start();
        flex-direction: column;
        flex-grow: 1;
        background: $white;
        @include border-radius(10px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 10px 15px;
        @include basic-shadow();
        .collateral-detail-wrapper, .unit-detail-wrapper, .key-person-detail-wrapper, .contact-person-detail-wrapper {
            @include flex-basic-from-start();
            flex-direction: column;
        }
    }
}

.no-data {
    padding: 30px 0;
    color: $basic-gray;
    text-align: center;
    width: 100%;
    .title {
        font-size: 20px;
        padding: 10px 0;
    }
    .sub-title {
        font-size: 15px;
    }
}

//Borrower Detail
.borrower-detail-wrapper {
    .sub-menu {
        ul {
            @include flex-basic();
            justify-content: flex-start;
            background: $basic-dark-blue;
            font-family: $font-semi-bold;
            li {
                border-right: 2px solid $white;
                a {
                    @include flex-basic();
                    justify-content: flex-start;
                    color: $white !important;
                    //width: 180px;
                    height: 44px;
                    padding: 0 50px 0 15px;
                    text-transform: uppercase;
                    &:hover, &.active {
                        background: $basic-yellow;
                        color: $basic-dark-gray !important;
                    }
                }
                &:last-child {
                    border-right: none;
                }            
            }

        }
    }
    
}
.input-row-wrapper {
    .radio-btn-wrapper {
        .radio-btn-label {
            display: inline-block;
            width: 166px;
        }
    }
    &.last-row {
        margin-bottom: 20px;
    }
}
.button-wrapper {
    @include flex-basic-from-end();
    width: 100%;
    
}
.disclaimer {
    margin: 20px 0 10px 0;
    font-size: 14px;
    span {
        color: $basic-dark-blue;
        font-family: $font-bold;
    }
}

//Guarantor page
.guarantor-detail-wrapper {
    
}

//Comments page
.comments-wrapper {
    width: 100%;
    margin-bottom: 40px;
    .input-row-wrapper {
        @include flex-basic();
        width: 100%;
        justify-content: space-between;
        .input-column {  
            box-sizing: border-box;
            width: 50%;
            label {
                display: block;
            }
            input[type="text"], textarea {
                width: 100%;
            }
            &:first-child {
                padding-right: 30px;
            }
            &:last-child {
                padding-left: 30px;
            }
            &.right-align {
                text-align: right;
            }
        }
    }
    .align-flex-end {
        align-items: flex-end;
    }
}


//Present Liabilities
.present-liabilities-detail-wrapper {
    .radio-btn-wrapper {
        p-radioButton {
            margin-left: 10px;
        }
    }
}

//Review Report & Manage Inspection
.review-report-wrapper, .manage-inspection-wrapper {
    background: $white;
    @include border-radius(8px);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    @include basic-shadow();
    max-width: 1366px;
    margin: 0 auto;
}
.review-report-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: $black, $alpha: .4);
    z-index: 4;
    .review-report-popup {
        background: $white;
        margin: 140px 20px 50px 20px;
        @include flex-basic-from-start();
        overflow-y:scroll; 
        position:relative;
        height: calc(100% - 190px);
        .review-report-popup-table { 
          width: 100%;
        .review-report-popup-aside {
            width: 340px;
            flex: 0 0 340px;
            flex-direction: column;
            border-right: 1px solid $input-border;
            -webkit-box-shadow: 2px 0px 4px 0px rgba(224,224,224,1);
            -moz-box-shadow: 2px 0px 4px 0px rgba(224,224,224,1);
            box-shadow: 2px 0px 4px 0px rgba(224,224,224,1);
            .title {
                @include flex-basic();
                font-family: $font-semi-bold;
                font-size: 18px;
                background: $basic-blue;
                text-transform: uppercase;
                height: 58px;
                color: $white;
                margin-bottom: 20px;
            }
        }
        .review-report-popup-right {
            flex-grow: 1;
            .title {
              @include flex-basic();
              justify-content: space-between;
              height: 58px;
              margin-bottom: 20px;
              padding: 0 20px;
              border-bottom: 1px solid $input-border;
              .ref-id {
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1px solid $input-border;
              }
              .ref-date {
                flex: 1;
              }
              label {
                padding: 0;
                color: $basic-gray;
              }
              .close-icon {
                background: none;
                font-size: 20px;
                a {
                  cursor: pointer;
                }
              }
          }
          .detail-wrapper {
            padding: 0 20px;
          }
        } 
      } 
    }
}
.popup-detail-section {
  margin-bottom: 30px;
  .detail-title {
    background: $basic-light-gray;
    padding: 8px 15px;
    font-family: $font-semi-bold;
    flex: 1;
  }
  .detail-table-wrapper {
    padding: 0 20px;
    table {
      width: 100%;
      tr {
        border-bottom: 1px solid $basic-light-gray;
        td {
          padding: 15px 0;
          &:first-child {
            color: $basic-gray;
            width: 40%;
          }
        }
      }
    }
  }
}


