<section class="review-report-popup-wrapper">
  <div id="review-report-popup" class="review-report-popup">
    <table class="review-report-popup-table">
      <tr>
        <td class="review-report-popup-aside">
          <div class="title">Report for review</div>
          <div class="popup-aside-menu-wrapper">
            <popupAsideMenu></popupAsideMenu>
          </div>
        </td>
        <td class="review-report-popup-right">
          <div class="title">
            <div class="ref-id">
              <label>Reference ID: </label> {{inspectionID}}
            </div>
            <div class="ref-date">
              <label>Date of Initiation: </label> {{inspectionDate | date:'dd-MM-yyyy'}}
            </div>
            <div class="close-icon">
              <a (click)="closePopup()">X</a>
            </div>
          </div>
          <div class="detail-wrapper">
            <router-outlet></router-outlet>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>