<section class="popup-key-person-wrapper" *ngIf="guarantorDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Guarantor Details</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>First Name</td>
          <td *ngIf="guarantorDetail.firstName">{{guarantorDetail.firstName}}</td>
          <td *ngIf="!guarantorDetail.firstName">NA</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td *ngIf="guarantorDetail.middleName">{{guarantorDetail.middleName}}</td>
          <td *ngIf="!guarantorDetail.middleName">NA</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td *ngIf="guarantorDetail.lastName">{{guarantorDetail.lastName}}</td>
          <td *ngIf="!guarantorDetail.lastName">NA</td>
        </tr>
        <tr>
          <td>Relationship with Firm</td>
          <td *ngIf="guarantorDetail.realtiveSalutation">{{guarantorDetail.realtiveSalutation}}</td>
          <td *ngIf="!guarantorDetail.realtiveSalutation">NA</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td *ngIf="guarantorDetail.relativeFirstName">{{guarantorDetail.relativeFirstName}}</td>
          <td *ngIf="!guarantorDetail.relativeFirstName">NA</td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td *ngIf="guarantorDetail.relativeMiddleName">{{guarantorDetail.relativeMiddleName}}</td>
          <td *ngIf="!guarantorDetail.relativeMiddleName">NA</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td *ngIf="guarantorDetail.relativeLastName">{{guarantorDetail.relativeLastName}}</td>
          <td *ngIf="!guarantorDetail.relativeLastName">NA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section">
    <div class="detail-title">Registered Address of Unit</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td *ngIf="guarantorDetail.plotBuildingFlatNum">{{guarantorDetail.plotBuildingFlatNum}}</td>
          <td *ngIf="!guarantorDetail.plotBuildingFlatNum">NA</td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td *ngIf="guarantorDetail.address1">{{guarantorDetail.address1}}</td>
          <td *ngIf="!guarantorDetail.address1">NA</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td *ngIf="guarantorDetail.address2">{{guarantorDetail.address2}}</td>
          <td *ngIf="!guarantorDetail.address2">NA</td>
        </tr>
        <tr>
          <td>State</td>
          <td *ngIf="guarantorDetail.state">{{guarantorDetail.state}}</td>
          <td *ngIf="!guarantorDetail.state">NA</td>
        </tr>
        <tr>
          <td>City</td>
          <td *ngIf="guarantorDetail.city">{{guarantorDetail.city}}</td>
          <td *ngIf="!guarantorDetail.city">NA</td>
        </tr>
        <tr>
          <td>District</td>
          <td *ngIf="guarantorDetail.district">{{guarantorDetail.district}}</td>
          <td *ngIf="!guarantorDetail.district">NA</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td *ngIf="guarantorDetail.blockTesilSubdistrict">{{guarantorDetail.blockTesilSubdistrict}}</td>
          <td *ngIf="!guarantorDetail.blockTesilSubdistrict">NA</td>
        </tr>
        <tr>
          <td>Village</td>
          <td *ngIf="guarantorDetail.village">{{guarantorDetail.village}}</td>
          <td *ngIf="!guarantorDetail.village">NA</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td *ngIf="guarantorDetail.pinCode">{{guarantorDetail.pinCode}}</td>
          <td *ngIf="!guarantorDetail.pinCode">NA</td>
        </tr>
        <tr>
          <td>Mobile No</td>
          <td *ngIf="guarantorDetail.mobileNum">{{guarantorDetail.mobileNum}}</td>
          <td *ngIf="!guarantorDetail.mobileNum">NA</td>
        </tr>
        <tr>
          <td>Landline No</td>
          <td *ngIf="guarantorDetail.landNum">{{guarantorDetail.landNum}}</td>
          <td *ngIf="!guarantorDetail.landNum">NA</td>
        </tr>
        <tr>
          <td>Email ID</td>
          <td *ngIf="guarantorDetail.email">{{guarantorDetail.email}}</td>
          <td *ngIf="!guarantorDetail.email">NA</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<div *ngIf="noData" class="no-data">
  <p class="title">No Guarantor Details Found</p>
  <p class="sub-title">Guarantor Details not added</p>
</div>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->