@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.aside-nav {
    ul {
        li {
            box-sizing: border-box;
            //font-family: $font-semi-bold;
            a {
                border-left: 2px solid $basic-light-blue;
                display: block;
                padding: 15px;
                color: $basic-dark-gray;
                &:hover, &.active {
                    border-left: 2px solid $basic-blue;
                    color: $basic-dark-blue;
                    
                }
                &.active {
                    font-family: $font-semi-bold;
                    font-size: 18px;
                    background: url('../../../assets/images/icons/aside-menu-arrow.jpg') center right no-repeat;
                }
            }
        }
    }
}