<div class="aside-nav">
        <ul>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['borrowerDetails']">Borrower Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['guarantorDetails']">Guarantor Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['establishmentDetails']">Establishment Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['collateralDetails']">Collateral Details</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['loanRequested']">Particulars of Loan Requested</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['presentLiabilities']">Present Liabilities of Loan Borrowers</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['comments']">Comments</a>
            </li>
        </ul>
    </div>