@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.pre-sanction {
    background: $white;
    @include border-radius(8px);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    @include basic-shadow();
    max-width: 1366px;
    margin: 0 auto;
    .sub-menu {
        padding: 0 20px;
        ul {
            @include flex-basic();
            justify-content: flex-start;
            background: $basic-dark-blue;
            font-family: $font-semi-bold;
            li {
                border-right: 2px solid $white;
                a {
                    @include flex-basic();
                    justify-content: flex-start;
                    color: $white !important;
                    width: 170px;
                    height: 44px;
                    padding: 0 15px;
                    text-transform: uppercase;
                    &:hover, &.active {
                        background: $basic-yellow;
                        color: $basic-dark-gray !important;
                    }
                }
                &:last-child {
                    border-right: none;
                }            
            }
    
        }
    }
}