<section class="pre-sanction">
    <div class="content-top-wrapper">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
    </div>
    <div class="sub-menu">
        <ul>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['presanctionNew']">New</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['presanctionIncomplete']">Incomplete</a>
            </li>
            <li>
                <a [routerLinkActive]="['active']" [routerLink]="['presanctionInspection']">Inspection status</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</section>