@import '../../../../../../assets/styles/variables.scss';
@import '../../../../../../assets/styles/mixins.scss';

.key-person-detail-wrapper {
    @include flex-basic-from-start();
    flex-direction: column;
    .button-wrapper {
        padding: 30px 0;
    }
    .message-wrapper {
        flex-grow: 1;
        margin-right: 20px;
    }
}
