<section class="key-person-detail-wrapper">
    <p-accordion>
        <p-accordionTab *ngFor="let keyPersonDetails of keyPersonList; let i = index">
            <p-header (click)="tabHeaderClick(i)" ng-class="{'close-icon' : toggle }">
                Key Person Details {{i+1}}
            </p-header>
            <div class="checkbox-wrapper checkbox">
                <p-checkbox [(ngModel)]="keyPersonDetails.salutationChecked" [disabled]="!isLoanEditable" label="Same as contact person" binary="true" (click)="sameSalutationDetails();"></p-checkbox>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Select Salutation*</label>
                    <p-dropdown [options]="salutation" [disabled]="!isLoanEditable || (keyPersonDetails.salutationStatus == 'LOS' || keyPersonDetails.salutationStatus == 'Mob')" name="salutation" [(ngModel)]="keyPersonDetails.salutation" placeholder="Salutation"></p-dropdown>
                </div>
                <div class="input-wrapper">
                    <label>First Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.firstNameStatus == 'LOS' || keyPersonDetails.firstNameStatus == 'Mob')" [(ngModel)]="keyPersonDetails.firstName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'First Name')" (blur)="onBlurValidation(keyPersonDetails.firstName, 'First Name')">
                    <span class="validation-msg" *ngIf="firstNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="firstNameVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Middle Name</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.middleNameStatus == 'LOS' || keyPersonDetails.middleNameStatus == 'Mob')" [(ngModel)]="keyPersonDetails.middleName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Middle Name')" (blur)="onBlurValidation(keyPersonDetails.middleName, 'Middle Name')">
                    <span class="validation-msg" *ngIf="middleNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="middleNameVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Last Name*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.lastNameStatus == 'LOS' || keyPersonDetails.lastNameStatus == 'Mob')" [(ngModel)]="keyPersonDetails.lastName" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Last Name')" (blur)="onBlurValidation(keyPersonDetails.lastName, 'Last Name')">
                    <span class="validation-msg" *ngIf="lastNameValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="lastNameVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Relationship with firm*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.relationshipWithFirmStatus == 'LOS' || keyPersonDetails.relationshipWithFirmStatus == 'Mob')" [(ngModel)]="keyPersonDetails.relationshipWithFirm" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Relationship')" (blur)="onBlurValidation(keyPersonDetails.relationshipWithFirm, 'Relationship')">
                    <span class="validation-msg" *ngIf="relationshipValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="relationshipVal">{{utilsService.validString}}</span>
                  </div>
            </div>
            <div class="subtitle">
                <h3>Registered Address of Unit</h3>
            </div>
            <div class="checkbox-wrapper checkbox">
                <p-checkbox [(ngModel)]="keyPersonDetails.checked" [disabled]="!isLoanEditable" label="Same as registered address of Unit" binary="true" (click)="sameAddress();"></p-checkbox>
            </div>
            <div class="input-row-wrapper">
                <div class="input-wrapper">
                    <label>Plot/Building/Flat No*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.plotBuildingFlatNumStatus == 'LOS' || keyPersonDetails.plotBuildingFlatNumStatus == 'Mob')" [(ngModel)]="keyPersonDetails.plotBuildingFlatNum" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 1*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.addressLine1Status == 'LOS' || keyPersonDetails.addressLine1Status == 'Mob')" [(ngModel)]="keyPersonDetails.addressLine1" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>Address Line 2*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.addressLine2Status == 'LOS' || keyPersonDetails.addressLine2Status == 'Mob')" [(ngModel)]="keyPersonDetails.addressLine2" maxlength="20">
                </div>
                <div class="input-wrapper">
                    <label>State*</label>
                    <p-dropdown [options]="states" name="state" [disabled]="!isLoanEditable || (keyPersonDetails.stateStatus == 'LOS' || keyPersonDetails.stateStatus == 'Mob')" [(ngModel)]="keyPersonDetails.state" placeholder="Select a State"></p-dropdown>
                </div>
                <div class="input-wrapper">
                    <label>City*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.cityStatus == 'LOS' || keyPersonDetails.cityStatus == 'Mob')" [(ngModel)]="keyPersonDetails.city" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'City')" (blur)="onBlurValidation(keyPersonDetails.city, 'City')">
                    <span class="validation-msg" *ngIf="cityValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="cityVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>District</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.districtStatus == 'LOS' || keyPersonDetails.districtStatus == 'Mob')" [(ngModel)]="keyPersonDetails.district" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'District')" (blur)="onBlurValidation(keyPersonDetails.district, 'District')">
                    <span class="validation-msg" *ngIf="districtValBlur">{{onlyAlphabet}}</span>                   
                    <span class="validation-msg" *ngIf="districtVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Block/Tehsil/Sub-District</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.blockTehsilSubdistrictStatus == 'LOS' || keyPersonDetails.blockTehsilSubdistrictStatus == 'Mob')" [(ngModel)]="keyPersonDetails.blockTehsilSubdistrict" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Block')" (blur)="onBlurValidation(keyPersonDetails.blockTehsilSubdistrict, 'Block')">
                    <span class="validation-msg" *ngIf="blockValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="blockVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Village</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.villageStatus == 'LOS' || keyPersonDetails.villageStatus == 'Mob')" [(ngModel)]="keyPersonDetails.village" maxlength="20" (keypress)="keypressCheck(utilsService.blockNumberAndSpecialChar($event), 'Village')" (blur)="onBlurValidation(keyPersonDetails.village, 'Village')">
                    <span class="validation-msg" *ngIf="villageValBlur">{{onlyAlphabet}}</span>
                    <span class="validation-msg" *ngIf="villageVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Pincode*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.pinCodeStatus == 'LOS' || keyPersonDetails.pinCodeStatus == 'Mob')" [(ngModel)]="keyPersonDetails.pinCode" maxlength="6" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Pincode')" (blur)="onBlurValidation(keyPersonDetails.pinCode, 'Pincode')">
                    <span class="validation-msg" *ngIf="pincodeValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="pincodeVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Mobile Number*</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.mobileNumStatus == 'LOS' || keyPersonDetails.mobileNumStatus == 'Mob')" [(ngModel)]="keyPersonDetails.mobileNum" maxlength="10" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Mobile')" (blur)="onBlurValidation(keyPersonDetails.mobileNum, 'Mobile')">
                    <span class="validation-msg" *ngIf="mobileValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="mobileVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Landline Number</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.landlineNumStatus == 'LOS' || keyPersonDetails.landlineNumStatus == 'Mob')" [(ngModel)]="keyPersonDetails.landlineNum" maxlength="11" (keypress)="keypressCheck(utilsService.onlyNumber($event), 'Landline')" (blur)="onBlurValidation(keyPersonDetails.landlineNum, 'Landline')">
                    <span class="validation-msg" *ngIf="landlineValBlur">{{onlyNumber}}</span>
                    <span class="validation-msg" *ngIf="landlineVal">{{utilsService.validString}}</span>
                  </div>
                <div class="input-wrapper">
                    <label>Email ID</label>
                    <input type="text" [disabled]="!isLoanEditable || (keyPersonDetails.emailIdStatus == 'LOS' || keyPersonDetails.emailIdStatus == 'Mob')" [(ngModel)]="keyPersonDetails.emailId" maxlength="40">
                </div>
            </div>
            <div class="input-row-wrapper  last-row">
                <div class="message-wrapper">
                    <p-message *ngIf="keyPersonDetails.message" severity="{{statusMsg}}" text="{{keyPersonDetails.message}}"></p-message>
                </div>
                <button class="basic-btn yellow" [disabled]="!isLoanEditable" pButton type="button" label="SAVE" (click)="addKeyPersonDetail();"></button>
            </div>
        </p-accordionTab>
    </p-accordion>
    <div *ngIf="noData" class="no-data">
            <p class="title">No Key Person Details Found</p>
            <p class="sub-title">Please add Key Person in Unit Details</p>
        </div>
</section>