html, body {
    height: 100%;
    font-family: $font-regular;
    font-size: 16px;
    line-height: normal;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    @include flex-basic();
    color: $white;
    max-width: 1366px;
}
h1 {
    font-size: 34px;
    font-family: $font-bold;
}
h3 {
    font-size: 18px;
    font-family: $font-semi-bold;
    color: $basic-dark-blue; 
    line-height: 30px;
}
h4 {
    font-weight: normal;
}
input {
    &[type="text"], &[type="email"] {
        border: 1px solid $input-border;
        @include border-radius(0); 
        height: 34px;
        box-sizing: border-box;
        padding: 0 4px;
    }
}
textarea {
    border: 1px solid $input-border;
    @include border-radius(0); 
    box-sizing: border-box;
    padding: 0 4px;
    height: 100px;
    font-family: $font-regular;
    font-size: 16px;
    resize: none;
}
label {
    display: inline-block;
    padding-bottom: 6px;
}



