.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    flex: 1;
    overflow: auto;
    background: $basic-light-gray;
    padding: 20px 20px 0 20px;
    .detail {
       height: 100%;
       //min-height: calc(100% - 48px);
    }
    .subtitle {
        @include flex-basic-from-start();
        width: 100%;
        h3 {
            justify-content: flex-start;
        }
    }
    .checkbox-wrapper {
        @include flex-basic-from-start();
        width: 100%;
        margin-top: 20px;
    }
}
footer {
    @include flex-basic();
    flex: 1;
    flex-direction: column;
    height: 110px;
    max-width: 1366px;
    margin: 0 auto !important;
}
.breadcrumb {
    @include flex-basic();
    justify-content: flex-start;
    padding: 8px 0 !important;
}
sme, footer-nav, borrowerdetail, establishmentdetail, dia-accordion, comments, collateraldetail, establishmentdetail, loanrequested, presentliabilities, guarantordetail {
    width: 100%;
    justify-content: flex-start
}
dia-header, dia-footer {
    background: $basic-dark-blue;
}
dia-footer {
    display: flex;
    //margin: 0 -20px;
}

h1 {
    margin-left: auto !important;
    margin-right: auto !important;
}
.input-row-wrapper {
    @include flex-basic();
    justify-content: space-between;
    padding: 20px 0 0 0;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    .input-wrapper {
        margin: 0 30px 30px 0;
        position: relative;
        width: 22%;
        label {
            display: block;
            font-size: 15px;
            padding-bottom: 4px;
        }
        input {
            height: 34px;
            width: 100%;
            font-size: 16px;
            font-family: $font-regular;
        }
        select {
            width: 100%;
            height: 34px;
        }
        &:nth-child(4n+0){
            margin-right: 0px;
        }
    }
    span {
      &.validation-msg {
        position:absolute; 
        bottom: -22px;
        color: $red;
        font-size: 13px;
      }
    }
    &.two-column {
        padding-top: 0;
        .input-wrapper {
            &:nth-child(2n+0){
                margin-right: 0px;
            }
            label {
                display: inline-block;
                padding: 0 10px 0 0;
            }
        }
    }
}
.basic-btn {
    @include border-radius(20px);
    padding: 4px 6px !important;
    text-transform: uppercase;
    &.yellow {
        background: $basic-yellow;
        color: $basic-dark-blue;
        border-color: $basic-yellow;
        font-family: $font-semi-bold;
        &:hover, &:active, &:visited {
            background: $basic-yellow !important;
            border-color: $basic-yellow !important;
            color: $basic-dark-blue !important;
        }
    }
    &.dark-blue {
      background: $basic-dark-blue;
      border-color: $basic-dark-blue;
      font-family: $font-semi-bold;
      .ui-button-text {
        color: $white !important;
      }
      &:hover, &:active, &:visited {
          background: $basic-dark-blue !important;
          border-color: $basic-dark-blue !important;
          color: $white !important;
      }
  }
  &.blue {
    background: $basic-blue;
    border-color: $basic-blue;
    font-family: $font-semi-bold;
    .ui-button-text {
      color: $white !important;
    }
    &:hover, &:active, &:visited {
        background: $basic-blue !important;
        border-color: $basic-blue !important;
        color: $white !important;
    }
}
    &.transparent {
        background: transparent !important;
        color: $basic-dark-gray !important;
        border-color: $basic-gray !important;
        padding: 2px !important;
        .ui-button-text {
           color: $basic-dark-gray; 
           font-size: 14px;
        }
    }
}
.small-btn {
    @include border-radius(20px);
    padding: 0px 3px !important;
    &.gray {
        background: $basic-gray;
        color: $white !important;
        border-color: $basic-gray;
        font-family: $font-semi-bold;
        text-transform: uppercase;
        &:hover, &:active, &:visited {
            background: $basic-gray !important;
            border-color: $basic-gray !important;
            color: $white !important;
        }
        .ui-button-text {
            color: $white;
            font-size: 15px;
        }
    }
    &.yellow {
        background: $basic-yellow;
        color: $basic-dark-gray !important;
        border-color: $basic-yellow;
        font-family: $font-semi-bold;
        text-transform: uppercase;
        &:hover, &:active, &:visited {
            background: $basic-yellow !important;
            border-color: $basic-yellow !important;
            color: $basic-dark-blue !important;
        }
        .ui-button-text {
            color: $basic-dark-gray;
            font-size: 15px;
        }
    }
    &.transparent {
        background: transparent !important;
        color: $white !important;
        border-color: $basic-gray !important;
        padding: 2px !important;
    }
}
table {
    &.data-adding {
        width: 100%;
        margin: 30px 0;
        font-size: 15px;
        thead {
            background: $inner-table-header;
            tr {
                th {
                    text-align: left;
                    padding: 15px;
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: left;
                    padding: 15px;
                }
                &:nth-child(even) {
                    background: $inner-table-child;
                }
            }
        }
    }
}

//Date Picker
.ui-calendar {
    font-family: $font-regular;
    font-size: 16px;
    .ui-calendar-button {
        border: 1px solid $input-border !important;
        border-right: none !important;
        background: $white !important;
        color: $basic-dark-blue !important;
        border-radius: 0 !important;
        right: 0 !important;
    }
    .ui-state-disabled, .ui-widget {
        &:disabled {
            opacity: 1;
            background: $input-disabled-bg;
        }
    }
} 

//Button 
.ui-widget-header .ui-button:enabled:hover, .ui-widget-header .ui-button:focus, .ui-widget-content .ui-button:enabled:hover, .ui-widget-content .ui-button:focus, .ui-widget.ui-button:enabled:hover, .ui-widget.ui-button:focus, .ui-button:enabled:hover, .ui-button:focus {
    background: $basic-yellow;
    border-color: $basic-yellow;
    color: $basic-dark-blue;
}
.ui-button {
    background: $basic-yellow;
    border-color: $basic-yellow;
}
.ui-button-text {
    color: $basic-dark-blue;
}

//Checkbox
.checkbox-wrapper {
    label {
        padding: 0 0 0 10px;
    }
}
.ui-chkbox {
    margin:0 -5px 0 0;
}
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
    background: $basic-blue !important;
    border-color: $basic-blue !important;
}

//Radio Button

p-radiobutton {
    .ui-radiobutton-box {
        width: 22px;
        height: 22px;
        &.ui-state-active {
            background: $basic-blue;
            border-color: $basic-blue;
        .ui-radiobutton-icon {
            width: 16px;
            height: 16px;
            border: 3px solid $white;
            background: $basic-blue;
            @include border-radius(20px);
            &.fa-circle {
                margin: 2px;
                &:before {
                    content: "" !important;
                }
            }
        }
        }
    }
    label {
        padding: 0;
    }
    .reject-inspection {
       margin-left: 20px;
     } 
}

//Breadcrumb
.breadcrumb {
    //margin-bottom: 10px;
    .ui-breadcrumb {
        background: none;
        border: none;
        padding: 0;
        font-family: $font-regular;
        ul {
            li {
                padding: 0 4px; 
                text-transform: uppercase;
                font-size: 14px;
                a {
                    color: $basic-blue;
                    font-family: $font-semi-bold;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    text-transform: capitalize;
                    a {
                        pointer-events: none;
                        cursor: default;
                        color: $basic-dark-gray;
                    }
                }
            }
        }
    }
}

//Data Table
.ui-datatable-tablewrapper {
    thead {
        &.ui-datatable-thead {
            tr {
                th {
                    vertical-align: middle;
                    height: 45px;
                    text-align: left;
                    font-family: $font-semi-bold;
                    font-size: 15px;
                    background: $table-header;
                    &.ui-state-active {
                        background: $table-header;
                        color: $basic-dark-gray;
                    }
                    &.search-refid {
                      input {
                        &.ui-column-filter {
                          right: 220px !important;
                        }
                      }
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &.ui-widget-content {
                td {
                    vertical-align: middle;
                    height: 60px;
                    word-wrap: break-word;
                }
            }
        }
    }
}
//.ui-datatable th.ui-state-active
.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}
.ui-datatable.outer-border thead th,
.ui-datatable.outer-border tbody,
.ui-datatable.outer-border tbody tr,
.ui-datatable.outer-border tbody td {
    border-style: none;
}
.ui-datatable.outer-border table {
    border: 1px solid $input-border;
    border-top: none;
}

.ui-datatable .ui-datatable-thead > tr > th, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-data > tr > td {
    padding: .25em 1em;
}

.inspection-status, .incomplete {
    .ui-datatable input.ui-column-filter {
        position: absolute !important;
        top: -114px !important;
        right: 0px !important;
        width: 200px !important;
    }
    .ui-datatable .ui-dropdown {
        position: absolute !important;
        top: -114px !important;
        right: 440px !important;
        width: 200px !important;
    }
    .dropdown-filter-label {
        position: absolute;
        right: 650px;
        top: -104px;
    }
}
// Check box
.ui-chkbox-label {
    padding: 2px 0 0 8px !important;
}

.search-textbox-wrapper {
  p-dropdown, .ui-dropdown {
    width: 100% !important;
  }
}
 

.review-report-table {
    .ui-datatable-tablewrapper thead.ui-datatable-thead tr th {
        background: $basic-dark-blue !important;
        color: $white !important;
    }
}

.ACCEPTED, .REJECTED, .PRE-COMPLETED {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    @include border-radius(10px);
    text-transform: lowercase;
}

.ACCEPTED, .PRE-COMPLETED {
    background: green;
}
.REJECTED {
    background: red;
}

.ui-message {
    margin: 0;
    width: 100%;
    padding: 15px 10px;
    span {
        margin-right: 8px;
    }
} 

.ui-dropdown {
    width: 100% !important;
    height: 34px;
    border-color: $input-border;
    @include border-radius(0);
    .ui-dropdown-label {
        padding: 7px 10px 6px 4px !important;
    }
    .ui-dropdown-trigger {
        .fa {
            margin-top: .5em;
        }
    }
    .ui-state-highlight {
        background: $basic-blue;
    }
    &.ui-state-focus {
        box-shadow: none;
    }
}
.inspector-pfid {
  width: 200px !important;
}
.change-reviewer-wrapper { 
  .ui-dialog-content.ui-widget-content{
      overflow: visible !important;
    }
}

.search-report-inspection-type, .search-report-losnum input, .search-report-unitname input, .search-report-data-range, .search-report-branch-code input, .search-report-pfid input {
  position: absolute;
  top: 0;
  margin-top: -64px !important;
}
.search-report-inspection-type { 
  left: 20px;
  width: 130px !important;
}
.search-report-losnum input {
  left: 170px;
  width: 200px !important;
}
.search-report-unitname input {
  left: 390px;
  width: 200px !important;
}
.search-report-data-range {
  left: 610px;
  width: 200px !important;
}
.search-report-branch-code input {
  left: 820px;
  width: 100px !important;
}
.search-report-pfid input {
  left: 940px;
  width: 100px !important;
}
.search-report-inspection-type-label, .search-report-losnum-label, .search-report-unitname-label, .search-report-data-range-label, .search-report-branch-code-label, .search-report-pfid-label {
  position: absolute;
  top: 0;
  font-family: $font-regular;
  font-size: 14px;
  color: $basic-dark-gray;
  margin-top: -88px !important;
}
.search-report-inspection-type-label {
  left: 20px;
}
.search-report-losnum-label {
  left: 170px;
}
.search-report-unitname-label {
  left: 390px;
}
.search-report-data-range-label {
  left: 610px;
}
.search-report-branch-code-label {
  left: 820px;
}
.search-report-pfid-label {
  left: 940px;
}
p-accordion {
    .ui-accordion {
        .ui-accordion-header {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            border-bottom: 1px solid $basic-light-gray;
            @include border-radius(0);
            font-family: $font-semi-bold;
            font-size: 18px;
            a {
                padding: 0;
                margin: 0;
                background: transparent;
                z-index: 2;
                background: url("../src/assets/images/icons/accordian-expand-icon.png") no-repeat 98% center;
                .fa-caret-right, .fa-caret-down {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 1;
                    span {
                        display: none;
                    }
                    &:before {
                        //content: "+";
                        //background: url("../src/assets/images/icons/list-view-arrow.png") no-repeat center right;
                        font-family: $font-bold;
                        color: $basic-dark-blue;
                        font-size: 32px;
                    }
                    &:before {
                        content: "";
                    }
                }
                .fa-caret-down {
                    @include rotate(45deg);
                }
                
            }
            &:hover {
                background: none !important;
                border-color: $basic-light-gray !important;
            }
            &.ui-state-active {
                border: none !important;
                a {
                    color: $basic-dark-blue;
                }
            }
            &.ui-state-active {
                a {
                    background: url("../src/assets/images/icons/accordian-close-icon.png") no-repeat 98% center;
                }
            }
        }
        .ui-accordion-content {
            padding: 0;
        }
        p-header {
            display: block;
            padding: 25px 0;
        }
    }
}
.close-icon {
    background: url("../src/assets/images/icons/presanction-modify-icon.png") no-repeat center right;
}
.popup-aside-menu-wrapper {
  p-accordion {
    .ui-accordion {
      .ui-accordion-header {
        border: none;
        font-size: 17px;
        font-family: $font-regular;
        a {
          padding: 20px;
          background: url("../src/assets/images/icons/popup-aside-menu-arrow.png") no-repeat 300px center;          
        }
        &:hover {
          background-color: $basic-light-gray !important;
        }
        &.ui-state-active {
          a {
            font-family: $font-semi-bold;
            background: $basic-light-gray url("../src/assets/images/icons/popup-aside-menu-arrow-active.png") no-repeat 300px center;
          }
        }
      }
      .ui-accordion-content {
        ul {
          li {
            a {
              font-size: 16px;
              padding: 12px 40px;
              display: block;
              &::before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-right: 10px;
                background: $basic-light-gray;
              }
              &.active {
                font-family: $font-semi-bold;
                &::before {
                  background: $basic-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

.review-report-popup-right {
  .popup-next-btn {
    padding-right: 10px !important;
    .right-arrow {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 22px;
    }
  }
  .popup-previous-btn {
    padding-left: 10px !important;
    .left-arrow {
      position: absolute;
      left: 10px;
      top: 7px;
      font-size: 22px;
    }
  }
  .reject-inspection {
    margin-left: 20px;
  }
}

//Tooltip
.ui-tooltip {
    background: transparent;
    @include border-radius(0);
    padding: 0;
    max-width: 500px;
    white-space:pre-wrap;
    word-break: break-all;
    //@include basic-shadow();
    .ui-tooltip-text {
        background: $white;
        color: $basic-dark-gray;
        @include border-radius(0);
        border-right: 3px solid $basic-blue;
        padding: 10px;
        margin-right: 6px;
    }
    .ui-tooltip-arrow {
        margin-top: -10px;
        border-width: 10px 0 10px 10px;
        border-left-color: $basic-blue;
    }
}
.comment-column {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.presanction-incomplete-wrapper, .presanction-inspection-wrapper {
    .ui-button-text {
        color: $basic-dark-gray !important;
    }
}

//model popup
.search-overlay {
    .ui-button-secondary {
        &.search-icon {
            background: $basic-blue !important;
            color: $white !important;
            border: none !important;
            .ui-button-icon-left.ui-clickable.fa.fa-fw.fa-superpowers {
                &:before {
                    content: "\f002" !important;
                }
            }
        }
    }
    .ui-dialog-titlebar.ui-widget-header {
        background: none;
        .ui-dialog-title {
            font-size: 16px !important;
            font-family: $font-semi-bold !important;
        }
    }
}
// .detail-table-wrapper {
//   .ui-galleria-filmstrip-wrapper {
//     background: $white;
//     margin: 0 auto !important;
//     width: 500px !important;
//     height: 72px !important;
//     .ui-galleria-filmstrip {
//       padding: 6px 0;
//     }
//     .ui-galleria-frame {
     
//     }
//   }
//   .ui-galleria-nav-prev, .ui-galleria-nav-next {
//     width: 50px !important;
//     height: 72px !important;
//     background: $white !important;
//     bottom: 0 !important;
//     padding-top: 30px !important;
//   }
//   .ui-galleria-nav-prev {
//     left: 0 !important;
//   }
//   .ui-galleria-nav-next {
//     right: 0 !important;
//   }
//   .ui-galleria-caption {
//     display: none !important;
//   }
// }
.ui-galleria-caption {
  text-align: center;
  padding: 8px 0;
}
.clear-btn {
  &.ui-button {
    background: $basic-dark-gray !important;  
    margin-left: 15px !important; 
    @include border-radius(0);
    border-color: $basic-dark-gray;
    .ui-button-text {
        color: $white !important;
        font-family: $font-regular !important;
        padding: 8px 20px !important;
        margin: 0 !important; 
        text-transform: uppercase;
        font-size: 14px;
    }
    &:hover {
      border-color: $basic-dark-gray !important;
    }
}
}









