@mixin flex-basic() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-basic-from-start() {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
@mixin flex-basic-from-end() {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@mixin thumbnail-shadow() {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(156,154,156,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(156,154,156,1);
    box-shadow: 0px 0px 8px 2px rgba(156,154,156,1);
}

@mixin basic-shadow() {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin rotate($deg) {
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

