/*Font types*/
$font-regular: 'Open Sans Regular', Helvetica, Arial, sans-serif;
$font-bold: 'Open Sans Bold', Helvetica, Arial, sans-serif;
$font-semi-bold: 'Open Sans Semi Bold', Helvetica, Arial, sans-serif;
$font-light: 'Open Sans Light', Helvetica, Arial, sans-serif;

/* Basic Colors */
$basic-yellow: #ffd100;
$basic-gray: #757575;
$basic-light-gray: #f0f4f7;
$basic-dark-gray: #212121;
$basic-blue: #00a9e0;
$basic-light-blue: #c7e9fa;
$basic-dark-blue: #280071;

$input-border: #cccccc;
$table-header: #d3d5d8;

$inner-table-header: #e7e7e7;
$inner-table-child: #f3f5f4;

/* Common Colors */
$white: #ffffff;
$red: #FF0000;
$black: #000000;
$input-disabled-bg: #EBEBE4;