<section class="popup-key-person-wrapper" *ngIf="establishmentDetail">
  <div class="popup-detail-section">
    <div class="detail-title">Address</div>
    <div class="detail-table-wrapper">
      <table>
        <tr>
          <td>Plot/Building Flat No</td>
          <td>{{establishmentDetail.building_no}}</td>
        </tr>
        <tr>
          <td>Date Of Visit</td>
          <td *ngIf="establishmentDetail.dateOfInspectionTS != 0">{{establishmentDetail.dateOfInspectionTS | date:'dd-MM-yyyy'}}</td>
          <td *ngIf="establishmentDetail.dateOfInspectionTS == 0"></td>
        </tr>
        <tr>
          <td>Address Line 1</td>
          <td>{{establishmentDetail.addressLine1}}</td>
        </tr>
        <tr>
          <td>Address Line 2</td>
          <td>{{establishmentDetail.addressLine2}}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{establishmentDetail.state}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{establishmentDetail.city}}</td>
        </tr>
        <tr>
          <td>District</td>
          <td>{{establishmentDetail.district}}</td>
        </tr>
        <tr>
          <td>Block/Tahsil/Sub-District</td>
          <td>{{establishmentDetail.sub_district}}</td>
        </tr>
        <tr>
          <td>Village</td>
          <td>{{establishmentDetail.village}}</td>
        </tr>
        <tr>
          <td>Pin Code</td>
          <td>{{establishmentDetail.pinCode}}</td>
        </tr>
        <tr>
          <td>Ownership</td>
          <td>{{establishmentDetail.ownership}}</td>
        </tr>
        <tr>
          <td>Existing Activity</td>
          <td>{{establishmentDetail.activity}}</td>
        </tr>
        <tr>
          <td>Proposed Activity</td>
          <td>{{establishmentDetail.proposedActivity}}</td>
        </tr>
        <tr>
          <td>Details</td>
          <td>{{establishmentDetail.comment}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="popup-detail-section" *ngIf="images.length > 0">
    <div class="detail-title">Location Images</div>
    <div class="detail-table-wrapper gallery-wrapper">
      <p-galleria [images]="images" panelWidth="600" panelHeight="400" [frameWidth]="80" [frameHeight]="60" showCaption="true"></p-galleria>
    </div>
</div>
 <div *ngIf="noData" class="no-data">
        <p class="title">No Establishment Details Found</p>
        <p class="sub-title">Establishment Details not added</p>
  </div>
</section>
<!--<div class="button-wrapper">
  <button type="button" class="basic-btn blue popup-previous-btn" pButton label="Back">
    <i class="fa fa-angle-left left-arrow"></i>
  </button>
  <button type="button" class="basic-btn dark-blue popup-next-btn" pButton label="Next">
    <i class="fa fa-angle-right right-arrow"></i>
  </button>
</div>-->