<section class="manage-reviewer-wrapper">
    <div class="subtitle-wrapper">
        <div class="subtitle">List of Reviewer</div>
        <div class="button-wrapper">
            <button class="basic-btn yellow" pButton type="button" label="ADD REVIEWER" (click)="showDialog()"></button>
        </div>
    </div>
    <div class="table-wrapper">
        <p-dataTable class="incomplete" [value]="reviewerList" styleClass="outer-border">
            <p-column field="srNo" header="No:" [style]="{'width':'50px'}"></p-column>
            <p-column field="firstName" header="Reviewers Name"></p-column>
            <p-column field="reviewerPfId" header="PF ID"></p-column>
            <p-column field="branchCode" header="Branch Code"></p-column>
            <p-column field="email" header="Email Id"></p-column>
            <p-column [style]="{'width':'150px'}">
                <ng-template pTemplate="header">Discard</ng-template>
                <ng-template let-los="rowData" pTemplate="body">
                    <button class="basic-btn transparent" label="Remove" type="button" pButton (click)="removeReviewerList(los)"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="note-wrapper"><span>Note :</span> Maximum 3 Reviewers can add in "Reviewer List". <br />Can add new Reviewer by removing added Reviewer if all 3 Reviewers added.</div>
    <p-dialog [(visible)]="display" width=350 modal="modal" styleClass="search-overlay">
        <p-header styleClass="popup-header">ADD NEW REVIEWER</p-header>
        <div class="search-textbox-wrapper">
            <div class="ui-g-12 text-box">
                <div class="ui-inputgroup">
                    <input type="text" maxlength="7" pInputText placeholder="Enter Reviewer PF ID" OnlyNumber="true" [(ngModel)]="reviewerPfId">
                    <button pButton type="button" icon="fa-superpowers" class="ui-button-secondary search-icon" (click)="searchPFID()"></button>
                </div>
            </div>
        </div>
        <div class="employee-detail-wrapper">
            <table *ngIf="displayPFIDdata">
                <tr>
                    <td>Employee Name</td>
                    <td>:</td>
                    <td>{{userInfo.user.firstName}} {{userInfo.user.lastName}}</td>
                </tr>
                <tr>
                    <td>Employee PF ID</td>
                    <td>:</td>
                    <td>{{userInfo.userDetails.pfId}}</td>
                </tr>
                <tr>
                    <td>Branch Code</td>
                    <td>:</td>
                    <td>{{userInfo.userDetails.brId}}</td>
                </tr>
            </table>
            <p-message severity="error" text="{{message}}" *ngIf="message"></p-message>
        </div>
        <p-footer *ngIf="displayPFIDdata">
            <button type="button" class="small-btn gray" pButton (click)="display=false" label="Cancel"></button>
            <button type="button" class="small-btn yellow" pButton (click)="addReviewer()" label="Add"></button>
        </p-footer>
    </p-dialog>
    <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
        <p-footer>
            <button class="small-btn yellow" type="button" pButton label="Ok" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
</section>