@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.header-nav {
    font-family: $font-regular;
    color: $white;
    @include flex-basic();
    flex-basis: 100%;
    font-size: 15px;
    ul {
        @include flex-basic();
        height: 100%;
        flex-basis: 100%;
        justify-content: space-between;
        li {
            display: flex;
            height: 100%;
            min-height: 79px;
            flex-grow: 1;
            a {
                color: $basic-light-gray;
                @include flex-basic();
                align-items: flex-end;
                padding-bottom: 10px;
                border-bottom: 4px solid $basic-dark-blue;
                flex-grow: 1;
                &:hover, &.active {
                    position: relative;
                    border-bottom-color: $basic-yellow;
                    &::after, &::before {
                        bottom: 0;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        box-sizing: border-box;
                    }
                    &::before{
                        border-color: rgba(194, 225, 245, 0);
                        border-bottom-color: $basic-yellow;
                        border-width: 5px;
                        margin-left: -5px;
                        box-sizing: border-box;
                    }
                }
                &.not-active {
                    pointer-events: none;
                    cursor: no-drop;
                    //color: $basic-gray;
                    opacity: .54;
                    &::before {
                        opacity: .54;
                    }
                }
            }
            &.sme {
                a {
                    background: url("../../../assets/images/icons/sme-icon.png") center 17px no-repeat;
                }
            }
            &.mcg {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/mcg-icon.png") center 17px no-repeat;
                }
            }
            &.cag {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/cag-icon.png") center 17px no-repeat;
                }
            }
            &.education {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/education-icon.png") center 17px no-repeat;
                }
            }
            &.automobile {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/automobile-icon.png") center 17px no-repeat;
                }
            }
            &.home {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/home-icon.png") center 17px no-repeat;
                }
            }
            &.personal {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/personal-icon.png") center 17px no-repeat;
                }
            }
            &.agriculture {
                cursor: not-allowed;
                a {
                    background: url("../../../assets/images/icons/agriculture-icon.png") center 17px no-repeat;
                }
            }
        }
    }
}
