<div class="header-nav">
    <ul>
        <li class="sme">
            <a [routerLinkActive]="['active']" [routerLink]="['/sme']">SME</a>
        </li>
        <li class="mcg">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/mcg']">MCG</a>
        </li>
        <li class="cag">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/cag']">CAG</a>
        </li>
        <li class="education">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/education']">Education</a>
        </li>
        <li class="automobile">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/automobile']">Automobile</a>
        </li>
        <li class="home">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/home']">Home</a>
        </li>
        <li class="personal">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/personal']">Personal</a>
        </li>
        <li class="agriculture">
            <a class="not-active" [routerLinkActive]="['active']" [routerLink]="['/agriculture']">Agriculture</a>
        </li>
    </ul>
</div>